In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 

sns.set_style('darkgrid')
sns.set_context('notebook')

In [2]:
def check_cols(df):
    for col in df.columns:
        print('------------------------------------------------------')
        print(col)
        print(f'unique values: {df[col].nunique(dropna=False)} (\'NaN\' included)')
        print(f'NaN exists? {df[col].isna().any()}')
        if df[col].isna().any():
            print(f'how many \'NaN\' values? {df[col].isna().sum()} ({np.divide(df[col].isna().sum(),df.shape[0])*100:.2f}%)')
        print('------------------------------------------------------')
        print(df[col].value_counts(dropna=False, normalize=True))
        print('------------------------------------------------------')
        print('\n') # Break up the output between columns
    return None

In [3]:
def find_null_cols(df):
    df_clone = df.copy()
    print('\'NaN\' found in columns as follows:')
    for col in df_clone.columns:
        if (df_clone[col].isnull().any()) | (df_clone[col].isna().any()):
            print(f'\t{col:20} ({df_clone[col].dtypes})      contains {df_clone[col].isna().sum():10} null values ({df_clone[col].isna().sum()*100/df_clone.shape[0]:5.2f}%) !')
    return None

In [4]:
def fill_null_cols(df, col, nullified=False):
    df_clone = df.copy()
    if nullified:
        df_clone[col] = df_clone[col].fillna(0)
    else:
        try:
            median = df_clone[col].median()
            mean = df_clone[col].mean()
            print(f'{col}: median {median:.3f}, mean {mean:.3f}')
            if median > 0:
                df_clone[col] = df_clone[col].fillna(median)
            else:
                df_clone[col] = df_clone[col].fillna(mean)
        except:
            print('N/A')
    return df_clone

In [5]:
def replace_null_cols(df, col, obj=False, bina=False):
    df_clone = df.copy()
    if obj:
        df_clone[col] = df_clone[col].fillna('unknown')
    else:
        df_clone[col] = df_clone[col].fillna(-1.0) 
        #df_clone[col] = df_clone[col].fillna(0)
        if bina:
            df_clone[col] = df_clone[col].astype('int64')
    return df_clone

In [6]:
def replace_null_dfcols(df):
    df_clone = df.copy()
    for col in df_clone.columns:
        if (df_clone[col].isnull().any()) | (df_clone[col].isna().any()):
            df_clone[col] = df_clone[col].fillna(-1.0) 
    return df_clone

# 2015 census tract
Data for each census tract in the US, including DC and Puerto Rico.

In [7]:
df15ct = pd.read_csv("./kaggle/acs2015_census_tract_data.csv",index_col=None)
df15ct.head()

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2

In [8]:
df15ct.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [9]:
df15ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusTract      74001 non-null  int64
 1   State            74001 non-null  object
 2   County           74001 non-null  object
 3   TotalPop         74001 non-null  int64
 4   Men              74001 non-null  int64
 5   Women            74001 non-null  int64
 6   Hispanic         73311 non-null  float64
 7   White            73311 non-null  float64
 8   Black            73311 non-null  float64
 9   Native           73311 non-null  float64
 10  Asian            73311 non-null  float64
 11  Pacific          73311 non-null  float64
 12  Citizen          74001 non-null  int64
 13  Income           72901 non-null  float64
 14  IncomeErr        72901 non-null  float64
 15  IncomePerCap     73261 non-null  float64
 16  IncomePerCapErr  73261 non-null  float64
 17  Poverty          73166 non-null  float64
 18  ChildPoverty     72883 non-null  float64
 19  Professional     73194 non-null  float64
 20  Service          73194 non-null  float64
 21  Office           73194 non-null  float64
 22  Construction     73194 non-null  float64
 23  Production       73194 non-null  float64
 24  Drive            73204 non-null  float64
 25  Carpool          73204 non-null  float64
 26  Transit          73204 non-null  float64
 27  Walk             73204 non-null  float64
 28  OtherTransp      73204 non-null  float64
 29  WorkAtHome       73204 non-null  float64
 30  MeanCommute      73052 non-null  float64
 31  Employed         74001 non-null  int64
 32  PrivateWork      73194 non-null  float64
 33  PublicWork       73194 non-null  float64
 34  SelfEmployed     73194 non-null  float64
 35  FamilyWork       73194 non-null  float64
 36  Unemployment     73199 non-null  float64
dtypes: float64(29), int64(6), object(2)
memory usage: 20.9+ MB

In [10]:
df15ct.describe()

,CensusTract,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,7.400100e+04,74001.000000,74001.000000,74001.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,73311.000000,...,73204.000000,73204.000000,73204.000000,73052.000000,74001.000000,73194.000000,73194.000000,73194.000000,73194.000000,73199.000000
mean,2.839113e+10,4325.591465,2127.648816,2197.942649,16.862810,62.032106,13.272581,0.727726,4.588253,0.145012,...,3.123340,1.891606,4.368093,25.667357,1983.907366,78.975238,14.621566,6.233814,0.169772,9.028663
std,1.647593e+10,2129.306903,1072.332031,1095.730931,22.940695,30.684152,21.762483,4.488340,8.794003,1.037354,...,5.881237,2.596198,3.904990,6.964881,1073.429808,8.345758,7.535786,4.042990,0.458227,5.955441
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.303901e+10,2891.000000,1409.000000,1461.000000,2.400000,39.400000,0.700000,0.000000,0.200000,0.000000,...,0.400000,0.400000,1.800000,20.800000,1249.000000,74.600000,9.600000,3.500000,0.000000,5.100000
50%,2.804700e+10,4063.000000,1986.000000,2066.000000,7.000000,71.400000,3.700000,0.000000,1.400000,0.000000,...,1.400000,1.100000,3.500000,25.000000,1846.000000,80.100000,13.400000,5.500000,0.000000,7.700000
75%,4.200341e+10,5442.000000,2674.000000,2774.000000,20.400000,88.300000,14.400000,0.400000,4.800000,0.000000,...,3.500000,2.500000,5.900000,29.800000,2553.000000,84.600000,18.200000,8.100000,0.000000,11.400000
max,7.215375e+10,53812.000000,27962.000000,27250.000000,100.000000,100.000000,100.000000,100.000000,91.300000,84.700000,...,100.000000,100.000000,100.000000,80.000000,24075.000000,100.000000,100.000000,100.000000,26.500000,100.000000

In [11]:
check_cols(df15ct)

------------------------------------------------------
CensusTract
unique values: 74001 ('NaN' included)
NaN exists? False
------------------------------------------------------
29189218300    0.000014
18097340109    0.000014
35001000713    0.000014
33011002200    0.000014
50027965200    0.000014
                 ...
6073005500     0.000014
12031014332    0.000014
37051001500    0.000014
13089023422    0.000014
13135050418    0.000014
Name: CensusTract, Length: 74001, dtype: float64
------------------------------------------------------


------------------------------------------------------
State
unique values: 52 ('NaN' included)
NaN exists? False
------------------------------------------------------
California              0.108877
Texas                   0.071148
New York                0.066459
Florida                 0.057364
Pennsylvania            0.043486
Illinois                0.042202
Ohio                    0.039891
Michigan                0.038013
North Carolina          0.029662
New Jersey              0.027162
Georgia                 0.026608
Virginia                0.025770
Arizona                 0.020621
Indiana                 0.020419
Tennessee               0.020229
Massachusetts           0.019973
Washington              0.019702
Wisconsin               0.019040
Maryland                0.019000
Missouri                0.018824
Minnesota               0.018081
Colorado                0.016878
Alabama                 0.015959
Louisiana               0.015513
Kentucky                0.015067
South Carolina          0.014905
Oklahoma                0.014135
Puerto Rico             0.012770
Oregon                  0.011270
Connecticut             0.011257
Iowa                    0.011148
Kansas                  0.010405
Nevada                  0.009284
Arkansas                0.009270
Mississippi             0.008973
Utah                    0.007946
Nebraska                0.007189
New Mexico              0.006743
West Virginia           0.006540
Maine                   0.004838
Hawaii                  0.004743
Idaho                   0.004027
New Hampshire           0.003986
Montana                 0.003662
Rhode Island            0.003297
South Dakota            0.003000
Delaware                0.002946
North Dakota            0.002770
Vermont                 0.002486
District of Columbia    0.002419
Alaska                  0.002257
Wyoming                 0.001784
Name: State, dtype: float64
------------------------------------------------------


------------------------------------------------------
County
unique values: 1928 ('NaN' included)
NaN exists? False
------------------------------------------------------
Los Angeles       0.031702
Cook              0.017919
Orange            0.012689
Jefferson         0.012527
Maricopa          0.012378
                    ...
Hayes             0.000014
Towner            0.000014
Denali Borough    0.000014
Slope             0.000014
Real              0.000014
Name: County, Length: 1928, dtype: float64
------------------------------------------------------


------------------------------------------------------
TotalPop
unique values: 9612 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.009324
4853     0.000405
3485     0.000392
2968     0.000378
3288     0.000378
           ...
9107     0.000014
855      0.000014
9043     0.000014
791      0.000014
16552    0.000014
Name: TotalPop, Length: 9612, dtype: float64
------------------------------------------------------


------------------------------------------------------
Men
unique values: 5591 ('NaN' included)
NaN exists? False
------------------------------------------------------
0       0.009554
1630    0.000662
1586    0.000649
1786    0.000649
1768    0.000635
          ...
5438    0.000014
4842    0.000014
4055    0.000014
5656    0.000014
4650    0.000014
Name: Men, Length: 5591, dtype: float64
------------------------------------------------------


------------------------------------------------------
Women
unique values: 5667 ('NaN' included)
NaN exists? False
------------------------------------------------------
0       0.010000
1505    0.000676
2096    0.000649
1992    0.000649
2097    0.000635
          ...
4555    0.000014
8754    0.000014
429     0.000014
8681    0.000014
5596    0.000014
Name: Women, Length: 5667, dtype: float64
------------------------------------------------------


------------------------------------------------------
Hispanic
unique values: 1002 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
0.0     0.032797
0.8     0.010446
0.7     0.010054
1.1     0.010040
0.6     0.009946
          ...
68.1    0.000068
92.4    0.000068
83.9    0.000054
88.9    0.000054
81.1    0.000054
Name: Hispanic, Length: 1002, dtype: float64
------------------------------------------------------


------------------------------------------------------
White
unique values: 1002 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
NaN     0.009324
0.0     0.008662
94.4    0.003040
97.0    0.002905
96.4    0.002905
          ...
31.8    0.000338
16.4    0.000324
46.1    0.000324
23.5    0.000284
99.9    0.000176
Name: White, Length: 1002, dtype: float64
------------------------------------------------------


------------------------------------------------------
Black
unique values: 1001 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
0.0     0.110282
0.3     0.022486
0.1     0.022405
0.2     0.022256
0.4     0.020202
          ...
99.8    0.000054
78.8    0.000054
85.8    0.000054
76.9    0.000054
75.0    0.000041
Name: Black, Length: 1001, dtype: float64
------------------------------------------------------


------------------------------------------------------
Native
unique values: 464 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
0.0     0.576438
0.2     0.058918
0.3     0.048283
0.1     0.046351
0.4     0.037310
          ...
88.8    0.000014
17.1    0.000014
34.6    0.000014
22.5    0.000014
50.8    0.000014
Name: Native, Length: 464, dtype: float64
------------------------------------------------------


------------------------------------------------------
Asian
unique values: 765 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
0.0     0.215862
0.2     0.033364
0.3     0.030310
0.4     0.026581
0.5     0.023567
          ...
69.0    0.000014
83.0    0.000014
60.3    0.000014
63.7    0.000014
88.1    0.000014
Name: Asian, Length: 765, dtype: float64
------------------------------------------------------


------------------------------------------------------
Pacific
unique values: 179 ('NaN' included)
NaN exists? True
how many 'NaN' values? 690 (0.93%)
------------------------------------------------------
0.0     0.869786
0.2     0.019905
0.1     0.016324
0.3     0.014297
0.4     0.010419
          ...
44.6    0.000014
14.2    0.000014
14.1    0.000014
12.0    0.000014
12.1    0.000014
Name: Pacific, Length: 179, dtype: float64
------------------------------------------------------


------------------------------------------------------
Citizen
unique values: 7250 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.009338
2107     0.000554
3029     0.000500
1945     0.000486
2204     0.000486
           ...
8126     0.000014
10768    0.000014
11006    0.000014
6614     0.000014
9910     0.000014
Name: Citizen, Length: 7250, dtype: float64
------------------------------------------------------


------------------------------------------------------
Income
unique values: 41563 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1100 (1.49%)
------------------------------------------------------
NaN         0.014865
43750.0     0.000770
45000.0     0.000662
42500.0     0.000649
55000.0     0.000649
              ...
33247.0     0.000014
125104.0    0.000014
22610.0     0.000014
90441.0     0.000014
70906.0     0.000014
Name: Income, Length: 41563, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomeErr
unique values: 19144 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1100 (1.49%)
------------------------------------------------------
NaN        0.014865
7428.0     0.000257
6000.0     0.000243
6156.0     0.000243
5079.0     0.000243
             ...
22885.0    0.000014
20410.0    0.000014
23987.0    0.000014
28752.0    0.000014
11783.0    0.000014
Name: IncomeErr, Length: 19144, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCap
unique values: 35904 ('NaN' included)
NaN exists? True
how many 'NaN' values? 740 (1.00%)
------------------------------------------------------
NaN        0.010000
24220.0    0.000149
27962.0    0.000149
19244.0    0.000149
21286.0    0.000135
             ...
35743.0    0.000014
13082.0    0.000014
38709.0    0.000014
53743.0    0.000014
43285.0    0.000014
Name: IncomePerCap, Length: 35904, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCapErr
unique values: 10703 ('NaN' included)
NaN exists? True
how many 'NaN' values? 740 (1.00%)
------------------------------------------------------
NaN        0.010000
2692.0     0.000527
2334.0     0.000514
2525.0     0.000514
1927.0     0.000486
             ...
10130.0    0.000014
12792.0    0.000014
14938.0    0.000014
8766.0     0.000014
11251.0    0.000014
Name: IncomePerCapErr, Length: 10703, dtype: float64
------------------------------------------------------


------------------------------------------------------
Poverty
unique values: 846 ('NaN' included)
NaN exists? True
how many 'NaN' values? 835 (1.13%)
------------------------------------------------------
NaN     0.011284
4.9     0.004878
5.7     0.004770
6.2     0.004743
8.1     0.004689
          ...
83.3    0.000014
71.7    0.000014
93.8    0.000014
74.8    0.000014
79.3    0.000014
Name: Poverty, Length: 846, dtype: float64
------------------------------------------------------


------------------------------------------------------
ChildPoverty
unique values: 961 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1118 (1.51%)
------------------------------------------------------
0.0     0.059567
NaN     0.015108
3.4     0.003473
1.7     0.003432
1.4     0.003338
          ...
91.1    0.000014
91.9    0.000014
94.9    0.000014
88.6    0.000014
93.2    0.000014
Name: ChildPoverty, Length: 961, dtype: float64
------------------------------------------------------


------------------------------------------------------
Professional
unique values: 865 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
30.2    0.003405
27.3    0.003405
29.6    0.003297
25.9    0.003297
          ...
1.7     0.000014
87.9    0.000014
1.1     0.000014
0.8     0.000014
85.7    0.000014
Name: Professional, Length: 865, dtype: float64
------------------------------------------------------


------------------------------------------------------
Service
unique values: 604 ('NaN' included)

NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
15.8    0.006216
15.7    0.006095
15.5    0.006054
16.0    0.006054
          ...
57.5    0.000014
72.7    0.000014
74.5    0.000014
87.5    0.000014
54.5    0.000014
Name: Service, Length: 604, dtype: float64
------------------------------------------------------


------------------------------------------------------
Office
unique values: 494 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
23.8    0.007878
23.5    0.007811
22.3    0.007581
22.4    0.007554
          ...
53.1    0.000014
48.5    0.000014
61.2    0.000014
46.8    0.000014
60.3    0.000014
Name: Office, Length: 494, dtype: float64
------------------------------------------------------


------------------------------------------------------
Construction
unique values: 491 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
0.0     0.013824
NaN     0.010905
7.8     0.007743
5.2     0.007716
7.1     0.007649
          ...
62.3    0.000014
57.2    0.000014
42.2    0.000014
47.1    0.000014
61.6    0.000014
Name: Construction, Length: 491, dtype: float64
------------------------------------------------------


------------------------------------------------------
Production
unique values: 502 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
0.0     0.005838
8.2     0.005824
10.0    0.005811
8.8     0.005770
          ...
48.2    0.000014
43.3    0.000014
46.2    0.000014
46.6    0.000014
43.8    0.000014
Name: Production, Length: 502, dtype: float64
------------------------------------------------------


------------------------------------------------------
Drive
unique values: 980 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
NaN     0.010770
82.3    0.005365
81.8    0.005284
81.4    0.005216
82.7    0.005189
          ...
26.2    0.000014
3.5     0.000014
98.2    0.000014
98.3    0.000014
1.7     0.000014
Name: Drive, Length: 980, dtype: float64
------------------------------------------------------


------------------------------------------------------
Carpool
unique values: 430 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
NaN     0.010770
8.1     0.009432
7.2     0.009405
6.9     0.009324
7.5     0.009284
          ...
41.5    0.000014
67.9    0.000014
44.7    0.000014
46.1    0.000014
71.7    0.000014
Name: Carpool, Length: 430, dtype: float64
------------------------------------------------------


------------------------------------------------------
Transit
unique values: 833 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
0.0     0.300685
0.5     0.025567
0.4     0.024729
0.6     0.022040
0.7     0.019878
          ...
82.1    0.000014
87.1    0.000014
76.2    0.000014
82.2    0.000014
78.1    0.000014
Name: Transit, Length: 833, dtype: float64
------------------------------------------------------


------------------------------------------------------
Walk
unique values: 607 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
0.0     0.192470
0.5     0.030743
0.4     0.028229
0.6     0.027892
0.7     0.026946
          ...
39.8    0.000014
70.2    0.000014
69.7    0.000014
53.4    0.000014
37.2    0.000014
Name: Walk, Length: 607, dtype: float64
------------------------------------------------------


------------------------------------------------------
OtherTransp
unique values: 296 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
0.0     0.193957
0.5     0.037918
0.4     0.035378
0.6     0.035229
0.7     0.032783
          ...
36.7    0.000014
22.8    0.000014
33.2    0.000014
24.9    0.000014
22.4    0.000014
Name: OtherTransp, Length: 296, dtype: float64
------------------------------------------------------


------------------------------------------------------
WorkAtHome
unique values: 373 ('NaN' included)
NaN exists? True
how many 'NaN' values? 797 (1.08%)
------------------------------------------------------
0.0     0.052580
1.9     0.015946
2.6     0.015324
2.0     0.015230
2.7     0.015175
          ...
34.4    0.000014
80.0    0.000014
44.4    0.000014
41.7    0.000014
77.3    0.000014
Name: WorkAtHome, Length: 373, dtype: float64
------------------------------------------------------


------------------------------------------------------
MeanCommute
unique values: 530 ('NaN' included)
NaN exists? True
how many 'NaN' values? 949 (1.28%)
------------------------------------------------------
NaN     0.012824
23.2    0.006527
23.9    0.006500
24.3    0.006500
22.7    0.006432
          ...
57.8    0.000014
57.7    0.000014
54.7    0.000014
5.3     0.000014
6.3     0.000014
Name: MeanCommute, Length: 530, dtype: float64
------------------------------------------------------


------------------------------------------------------
Employed
unique values: 5507 ('NaN' included)
NaN exists? False
------------------------------------------------------
0       0.010905
1556    0.000635
1901    0.000635
1649    0.000622
1996    0.000622
          ...
5213    0.000014
5142    0.000014
6345    0.000014
5469    0.000014
9499    0.000014
Name: Employed, Length: 5507, dtype: float64
------------------------------------------------------


------------------------------------------------------
PrivateWork
unique values: 691 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
83.2    0.006189
80.4    0.005986
81.1    0.005838
79.2    0.005770
          ...
98.5    0.000014
39.9    0.000014
28.8    0.000014
24.1    0.000014
31.8    0.000014
Name: PrivateWork, Length: 691, dtype: float64
------------------------------------------------------


------------------------------------------------------
PublicWork
unique values: 651 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
NaN     0.010905
11.9    0.007257
11.1    0.007203
12.3    0.007081
11.6    0.006946
          ...
72.4    0.000014
52.7    0.000014
56.4    0.000014
71.4    0.000014
49.4    0.000014
Name: PublicWork, Length: 651, dtype: float64
------------------------------------------------------


------------------------------------------------------
SelfEmployed
unique values: 332 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
4.4     0.013648
4.1     0.013540
4.8     0.013473
4.5     0.013121
5.0     0.013054
          ...
40.7    0.000014
39.1    0.000014
26.3    0.000014
37.5    0.000014
37.8    0.000014
Name: SelfEmployed, Length: 332, dtype: float64
------------------------------------------------------


------------------------------------------------------
FamilyWork
unique values: 74 ('NaN' included)
NaN exists? True
how many 'NaN' values? 807 (1.09%)
------------------------------------------------------
0.0     0.764787
0.4     0.031283
0.5     0.027500
0.3     0.026743
0.6     0.021202
          ...
9.8     0.000014
26.5    0.000014
5.2     0.000014
5.1     0.000014
6.9     0.000014
Name: FamilyWork, Length: 74, dtype: float64
------------------------------------------------------


------------------------------------------------------
Unemployment
unique values: 492 ('NaN' included)
NaN exists? True
how many 'NaN' values? 802 (1.08%)
------------------------------------------------------
NaN     0.010838
5.2     0.010392
5.3     0.010365
5.7     0.010162
5.0     0.009973
          ...
54.6    0.000014
43.5    0.000014
45.2    0.000014
54.2    0.000014
42.0    0.000014
Name: Unemployment, Length: 492, dtype: float64
------------------------------------------------------

In [12]:
find_null_cols(df15ct)

'NaN' found in columns as follows:
	Hispanic             (float64)      contains        690 null values ( 0.93%) !
	White                (float64)      contains        690 null values ( 0.93%) !
	Black                (float64)      contains        690 null values ( 0.93%) !
	Native               (float64)      contains        690 null values ( 0.93%) !
	Asian                (float64)      contains        690 null values ( 0.93%) !
	Pacific              (float64)      contains        690 null values ( 0.93%) !
	Income               (float64)      contains       1100 null values ( 1.49%) !
	IncomeErr            (float64)      contains       1100 null values ( 1.49%) !
	IncomePerCap         (float64)      contains        740 null values ( 1.00%) !
	IncomePerCapErr      (float64)      contains        740 null values ( 1.00%) !
	Poverty              (float64)      contains        835 null values ( 1.13%) !
	ChildPoverty         (float64)      contains       1118 null values ( 1.51%) !
	Professional         (float64)      contains        807 null values ( 1.09%) !
	Service              (float64)      contains        807 null values ( 1.09%) !
	Office               (float64)      contains        807 null values ( 1.09%) !
	Construction         (float64)      contains        807 null values ( 1.09%) !
	Production           (float64)      contains        807 null values ( 1.09%) !
	Drive                (float64)      contains        797 null values ( 1.08%) !
	Carpool              (float64)      contains        797 null values ( 1.08%) !
	Transit              (float64)      contains        797 null values ( 1.08%) !
	Walk                 (float64)      contains        797 null values ( 1.08%) !
	OtherTransp          (float64)      contains        797 null values ( 1.08%) !
	WorkAtHome           (float64)      contains        797 null values ( 1.08%) !
	MeanCommute          (float64)      contains        949 null values ( 1.28%) !
	PrivateWork          (float64)      contains        807 null values ( 1.09%) !
	PublicWork           (float64)      contains        807 null values ( 1.09%) !
	SelfEmployed         (float64)      contains        807 null values ( 1.09%) !
	FamilyWork           (float64)      contains        807 null values ( 1.09%) !
	Unemployment         (float64)      contains        802 null values ( 1.08%) !

In [13]:
df15ct_v1 = replace_null_dfcols(df15ct)
df15ct_v1.isna().any()

CensusTract        False
State              False
County             False
TotalPop           False
Men                False
Women              False
Hispanic           False
White              False
Black              False
Native             False
Asian              False
Pacific            False
Citizen            False
Income             False
IncomeErr          False
IncomePerCap       False
IncomePerCapErr    False
Poverty            False
ChildPoverty       False
Professional       False
Service            False
Office             False
Construction       False
Production         False
Drive              False
Carpool            False
Transit            False
Walk               False
OtherTransp        False
WorkAtHome         False
MeanCommute        False
Employed           False
PrivateWork        False
PublicWork         False
SelfEmployed       False
FamilyWork         False
Unemployment       False
dtype: bool

In [14]:
df15ct_v1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CensusTract,74001.0,2.839113e+10,1.647593e+10,1.001020e+09,1.303901e+10,2.804700e+10,4.200341e+10,7.215375e+10
TotalPop,74001.0,4.325591e+03,2.129307e+03,0.000000e+00,2.891000e+03,4.063000e+03,5.442000e+03,5.381200e+04
Men,74001.0,2.127649e+03,1.072332e+03,0.000000e+00,1.409000e+03,1.986000e+03,2.674000e+03,2.796200e+04
Women,74001.0,2.197943e+03,1.095731e+03,0.000000e+00,1.461000e+03,2.066000e+03,2.774000e+03,2.725000e+04
Hispanic,74001.0,1.669625e+01,2.289794e+01,-1.000000e+00,2.300000e+00,6.900000e+00,2.020000e+01,1.000000e+02
White,74001.0,6.144438e+01,3.113581e+01,-1.000000e+00,3.790000e+01,7.100000e+01,8.820000e+01,1.000000e+02
Black,74001.0,1.313950e+01,2.170418e+01,-1.000000e+00,7.000000e-01,3.600000e+00,1.420000e+01,1.000000e+02
Native,74001.0,7.116161e-01,4.470451e+00,-1.000000e+00,0.000000e+00,0.000000e+00,4.000000e-01,1.000000e+02
Asian,74001.0,4.536147e+00,8.769371e+00,-1.000000e+00,2.000000e-01,1.300000e+00,4.800000e+00,9.130000e+01
Pacific,74001.0,1.343360e-01,1.038354e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.470000e+01
Citizen,74001.0,3.043080e+03,1.475493e+03,0.000000e+00,2.037000e+03,2.863000e+03,3.838000e+03,3.741600e+04
Income,74001.0,5.637491e+04,2.928021e+04,-1.000000e+00,3.705000e+04,5.073300e+04,6.970300e+04,2.487500e+05
IncomeErr,74001.0,8.998698e+03,5.979256e+03,-1.000000e+00,5.210000e+03,7.653000e+03,1.118000e+04,1.231160e+05
IncomePerCap,74001.0,2.820632e+04,1.523768e+04,-1.000000e+00,1.891200e+04,2.521800e+04,3.377300e+04,2.542040e+05
IncomePerCapErr,74001.0,3.903471e+03,3.033364e+03,-1.000000e+00,2.289000e+03,3.107000e+03,4.512000e+03,1.343800e+05
Poverty,74001.0,1.675539e+01,1.325824e+01,-1.000000e+00,7.000000e+00,1.320000e+01,2.300000e+01,1.000000e+02
ChildPoverty,74001.0,2.213199e+01,1.925967e+01,-1.000000e+00,6.500000e+00,1.740000e+01,3.340000e+01,1.000000e+02
Professional,74001.0,3.440845e+01,1.538115e+01,-1.000000e+00,2.380000e+01,3.240000e+01,4.370000e+01,1.000000e+02
Service,74001.0,1.888217e+01,8.494419e+00,-1.000000e+00,1.330000e+01,1.780000e+01,2.350000e+01,1.000000e+02
Office,74001.0,2.367946e+01,6.466653e+00,-1.000000e+00,2.000000e+01,2.370000e+01,2.750000e+01,1.000000e+02
Construction,74001.0,9.180096e+00,6.084982e+00,-1.000000e+00,4.900000e+00,8.300000e+00,1.250000e+01,1.000000e+02
Production,74001.0,1.270490e+01,7.764169e+00,-1.000000e+00,6.900000e+00,1.170000e+01,1.740000e+01,1.000000e+02
Drive,74001.0,7.470961e+01,1.720897e+01,-1.000000e+00,7.160000e+01,7.960000e+01,8.490000e+01,1.000000e+02
Carpool,74001.0,9.513009e+00,5.449880e+00,-1.000000e+00,5.900000e+00,8.700000e+00,1.230000e+01,1.000000e+02
Transit,74001.0,5.386518e+00,1.168001e+01,-1.000000e+00,0.000000e+00,1.000000e+00,4.600000e+00,1.000000e+02
Walk,74001.0,3.078931e+00,5.864943e+00,-1.000000e+00,4.000000e-01,1.400000e+00,3.400000e+00,1.000000e+02
OtherTransp,74001.0,1.860463e+00,2.599372e+00,-1.000000e+00,4.000000e-01,1.100000e+00,2.400000e+00,1.000000e+02
WorkAtHome,74001.0,4.310278e+00,3.923229e+00,-1.000000e+00,1.800000e+00,3.500000e+00,5.900000e+00,1.000000e+02
MeanCommute,74001.0,2.532537e+01,7.542579e+00,-1.000000e+00,2.070000e+01,2.490000e+01,2.970000e+01,8.000000e+01
Employed,74001.0,1.983907e+03,1.073430e+03,0.000000e+00,1.249000e+03,1.846000e+03,2.553000e+03,2.407500e+04
PrivateWork,74001.0,7.810309e+01,1.174235e+01,-1.000000e+00,7.440000e+01,8.000000e+01,8.460000e+01,1.000000e+02
PublicWork,74001.0,1.445121e+01,7.668183e+00,-1.000000e+00,9.400000e+00,1.330000e+01,1.820000e+01,1.000000e+02
SelfEmployed,74001.0,6.154928e+00,4.090470e+00,-1.000000e+00,3.500000e+00,5.500000e+00,8.100000e+00,1.000000e+02
FamilyWork,74001.0,1.570154e-01,4.716378e-01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.650000e+01
Unemployment,74001.0,8.919975e+00,6.013409e+00,-1.000000e+00,5.000000e+00,7.600000e+00,1.130000e+01,1.000000e+02

# 2015 county
Data for each county or county equivalent in the US, including DC and Puerto Rico.

In [15]:
df15c = pd.read_csv("./kaggle/acs2015_county_data.csv",index_col=None)
df15c.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [16]:
df15c.columns

Index(['CensusId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income',
       'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [17]:
df15c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [18]:
df15c.describe()

,CensusId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31393.605280,9.940935e+04,4.889694e+04,5.051241e+04,11.011522,75.428789,8.665497,1.723509,1.229068,0.082733,...,3.323509,1.612733,4.631770,23.278758,4.559352e+04,74.219348,17.560870,7.931801,0.288106,8.094441
std,16292.078954,3.193055e+05,1.566813e+05,1.626620e+05,19.241380,22.932890,14.279122,7.253115,2.633079,0.734931,...,3.756096,1.670988,3.178772,5.600466,1.496995e+05,7.863188,6.510354,3.914974,0.455137,4.096114
min,1001.000000,8.500000e+01,4.200000e+01,4.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.900000,6.200000e+01,25.000000,5.800000,0.000000,0.000000,0.000000
25%,19032.500000,1.121800e+04,5.637250e+03,5.572000e+03,1.900000,64.100000,0.500000,0.100000,0.200000,0.000000,...,1.400000,0.900000,2.700000,19.500000,4.550750e+03,70.500000,13.100000,5.400000,0.100000,5.500000
50%,30024.000000,2.603500e+04,1.293200e+04,1.305700e+04,3.900000,84.100000,1.900000,0.300000,0.500000,0.000000,...,2.400000,1.300000,3.900000,23.000000,1.050800e+04,75.700000,16.200000,6.900000,0.200000,7.600000
75%,46105.500000,6.643050e+04,3.299275e+04,3.348750e+04,9.825000,93.200000,9.600000,0.600000,1.200000,0.000000,...,4.000000,1.900000,5.600000,26.800000,2.863275e+04,79.700000,20.500000,9.400000,0.300000,9.900000
max,72153.000000,1.003839e+07,4.945351e+06,5.093037e+06,99.900000,99.800000,85.900000,92.100000,41.600000,35.300000,...,71.200000,39.100000,37.200000,44.000000,4.635465e+06,88.300000,66.200000,36.600000,9.800000,36.500000

In [19]:
check_cols(df15c)

------------------------------------------------------
CensusId
unique values: 3220 ('NaN' included)
NaN exists? False
------------------------------------------------------
51199    0.000311
13107    0.000311
13131    0.000311
13127    0.000311
13123    0.000311
           ...
28143    0.000311
24045    0.000311
28139    0.000311
24041    0.000311
46061    0.000311
Name: CensusId, Length: 3220, dtype: float64
------------------------------------------------------


------------------------------------------------------
State
unique values: 52 ('NaN' included)
NaN exists? False
------------------------------------------------------
Texas                   0.078882
Georgia                 0.049379
Virginia                0.041304
Kentucky                0.037267
Missouri                0.035714
Kansas                  0.032609
Illinois                0.031677
North Carolina          0.031056
Iowa                    0.030745
Tennessee               0.029503
Nebraska                0.028882
Indiana                 0.028571
Ohio                    0.027329
Minnesota               0.027019
Michigan                0.025776
Mississippi             0.025466
Puerto Rico             0.024224
Oklahoma                0.023913
Arkansas                0.023292
Wisconsin               0.022360
Florida                 0.020807
Alabama                 0.020807
Pennsylvania            0.020807
South Dakota            0.020497
Louisiana               0.019876
Colorado                0.019876
New York                0.019255
California              0.018012
Montana                 0.017391
West Virginia           0.017081
North Dakota            0.016460
South Carolina          0.014286
Idaho                   0.013665
Washington              0.012112
Oregon                  0.011180
New Mexico              0.010248
Utah                    0.009006
Alaska                  0.009006
Maryland                0.007453
Wyoming                 0.007143
New Jersey              0.006522
Nevada                  0.005280
Maine                   0.004969
Arizona                 0.004658
Vermont                 0.004348
Massachusetts           0.004348
New Hampshire           0.003106
Connecticut             0.002484
Rhode Island            0.001553
Hawaii                  0.001553
Delaware                0.000932
District of Columbia    0.000311
Name: State, dtype: float64
------------------------------------------------------


------------------------------------------------------
County
unique values: 1928 ('NaN' included)
NaN exists? False
------------------------------------------------------
Washington    0.009627
Jefferson     0.008075
Franklin      0.007764
Jackson       0.007453
Lincoln       0.007453
                ...
Moffat        0.000311
Lajas         0.000311
Corson        0.000311
New Kent      0.000311
Morrill       0.000311
Name: County, Length: 1928, dtype: float64
------------------------------------------------------


------------------------------------------------------
TotalPop
unique values: 3164 ('NaN' included)
NaN exists? False
------------------------------------------------------
13357      0.000621
2722       0.000621
119343     0.000621
2341       0.000621
13544      0.000621
             ...
1121645    0.000311
439660     0.000311
13672      0.000311
40293      0.000311
12290      0.000311
Name: TotalPop, Length: 3164, dtype: float64
------------------------------------------------------


------------------------------------------------------
Men
unique values: 3098 ('NaN' included)
NaN exists? False
------------------------------------------------------
5265     0.000932
4367     0.000932
6832     0.000932
4550     0.000932
32482    0.000932
           ...
2718     0.000311
18372    0.000311
15004    0.000311
87790    0.000311
8192     0.000311
Name: Men, Length: 3098, dtype: float64
------------------------------------------------------


------------------------------------------------------
Women
unique values: 3105 ('NaN' included)
NaN exists? False
------------------------------------------------------
11538    0.000932
1516     0.000932
15428    0.000621
934      0.000621
25710    0.000621
           ...
31562    0.000311
88641    0.000311
8833     0.000311
6784     0.000311
24576    0.000311
Name: Women, Length: 3105, dtype: float64
------------------------------------------------------


------------------------------------------------------
Hispanic
unique values: 466 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.4     0.022671
1.6     0.022671
1.3     0.022360
1.8     0.021429
2.1     0.019565
          ...
31.4    0.000311
58.8    0.000311
38.8    0.000311
56.7    0.000311
29.3    0.000311
Name: Hispanic, Length: 466, dtype: float64
------------------------------------------------------


------------------------------------------------------
White
unique values: 721 ('NaN' included)
NaN exists? False
------------------------------------------------------
95.4    0.008385
96.2    0.008075
95.5    0.008075
96.7    0.007764
94.6    0.007764
          ...
16.3    0.000311
32.9    0.000311
49.7    0.000311
3.1     0.000311
21.9    0.000311
Name: White, Length: 721, dtype: float64
------------------------------------------------------


------------------------------------------------------
Black
unique values: 487 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.059006
0.5     0.046894
0.4     0.042236
0.1     0.041925
0.2     0.037267
          ...
27.5    0.000311
32.9    0.000311
34.8    0.000311
29.1    0.000311
14.7    0.000311
Name: Black, Length: 487, dtype: float64
------------------------------------------------------


------------------------------------------------------
Native
unique values: 183 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.1     0.184783
0.2     0.165839
0.0     0.147205
0.3     0.107764
0.4     0.075466
          ...
17.3    0.000311
4.9     0.000311
26.5    0.000311
54.5    0.000311
5.8     0.000311
Name: Native, Length: 183, dtype: float64
------------------------------------------------------


------------------------------------------------------
Asian
unique values: 131 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.118323
0.3     0.084161
0.4     0.082919
0.2     0.079814
0.1     0.078261
          ...
10.8    0.000311
33.6    0.000311
6.6     0.000311
14.8    0.000311
23.2    0.000311
Name: Asian, Length: 131, dtype: float64
------------------------------------------------------


------------------------------------------------------
Pacific
unique values: 27 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.762112
0.1     0.131056
0.2     0.043168
0.3     0.020807
0.4     0.011801
0.5     0.006211
0.6     0.005280
0.7     0.004348
0.8     0.003416
0.9     0.002174
1.0     0.001553
1.1     0.000932
2.1     0.000932
1.2     0.000932
1.5     0.000932
1.4     0.000621
1.7     0.000621
9.1     0.000311
5.6     0.000311
11.1    0.000311
2.4     0.000311
8.6     0.000311
2.2     0.000311
1.3     0.000311
9.6     0.000311
35.3    0.000311
1.9     0.000311
Name: Pacific, dtype: float64
------------------------------------------------------


------------------------------------------------------
Citizen
unique values: 3146 ('NaN' included)
NaN exists? False
------------------------------------------------------
12604     0.000932
5886      0.000932
7188      0.000932
15638     0.000621
1911      0.000621
            ...
49827     0.000311
43682     0.000311
151454    0.000311
41631     0.000311
8192      0.000311
Name: Citizen, Length: 3146, dtype: float64
------------------------------------------------------


------------------------------------------------------
Income
unique values: 3067 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
48750.0    0.001242
35000.0    0.000932
42171.0    0.000932
44549.0    0.000932
45374.0    0.000932
             ...
63985.0    0.000311
29942.0    0.000311
38776.0    0.000311
36519.0    0.000311
24583.0    0.000311
Name: Income, Length: 3067, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomeErr
unique values: 2330 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
3292.0    0.001863
2402.0    0.001553
1892.0    0.001553
1473.0    0.001553
2179.0    0.001553
            ...
2451.0    0.000311
5031.0    0.000311
1064.0    0.000311
3272.0    0.000311
3088.0    0.000311
Name: IncomeErr, Length: 2330, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCap
unique values: 2962 ('NaN' included)
NaN exists? False
------------------------------------------------------
20534    0.001242
19743    0.001242
20697    0.000932
19891    0.000932
27402    0.000932
           ...
35446    0.000311
23156    0.000311
23154    0.000311
23152    0.000311
24576    0.000311
Name: IncomePerCap, Length: 2962, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCapErr
unique values: 1758 ('NaN' included)
NaN exists? False
------------------------------------------------------
1103    0.002174
666     0.002174
842     0.002174
917     0.002174
1191    0.002174
          ...
2256    0.000311
209     0.000311
2258    0.000311
213     0.000311
2051    0.000311
Name: IncomePerCapErr, Length: 1758, dtype: float64
------------------------------------------------------


------------------------------------------------------
Poverty
unique values: 394 ('NaN' included)
NaN exists? False
------------------------------------------------------
12.9    0.010248
18.3    0.009317
15.3    0.009006
15.2    0.008696
13.5    0.008696
          ...
45.3    0.000311
34.9    0.000311
58.3    0.000311
57.8    0.000311
28.8    0.000311
Name: Poverty, Length: 394, dtype: float64
------------------------------------------------------


------------------------------------------------------
ChildPoverty
unique values: 545 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
22.7    0.007764
20.7    0.007143
25.7    0.006832
15.6    0.006522
17.1    0.006522
          ...
43.1    0.000311
62.5    0.000311
42.5    0.000311
43.5    0.000311
2.3     0.000311
Name: ChildPoverty, Length: 545, dtype: float64
------------------------------------------------------


------------------------------------------------------
Professional
unique values: 344 ('NaN' included)
NaN exists? False
------------------------------------------------------
29.5    0.010870
28.4    0.010559
26.5    0.010559
28.1    0.009627
25.9    0.009006
          ...
13.5    0.000311
52.0    0.000311
46.9    0.000311
48.4    0.000311
68.0    0.000311
Name: Professional, Length: 344, dtype: float64
------------------------------------------------------


------------------------------------------------------
Service
unique values: 228 ('NaN' included)
NaN exists? False
------------------------------------------------------
18.9    0.016460
17.0    0.016149
18.5    0.015528
18.1    0.015217
17.6    0.014907
          ...
33.3    0.000311
5.0     0.000311
7.5     0.000311
26.8    0.000311
9.4     0.000311
Name: Service, Length: 228, dtype: float64
------------------------------------------------------


------------------------------------------------------
Office
unique values: 202 ('NaN' included)
NaN exists? False
------------------------------------------------------
23.5    0.015528
22.4    0.015217
22.5    0.015217
22.9    0.014286
22.6    0.014286
          ...
30.0    0.000311
30.7    0.000311
13.5    0.000311
29.0    0.000311
32.3    0.000311
Name: Office, Length: 202, dtype: float64
------------------------------------------------------


------------------------------------------------------
Construction
unique values: 237 ('NaN' included)
NaN exists? False
------------------------------------------------------
13.0    0.014286
11.1    0.013665
12.0    0.013043
11.9    0.013043
12.1    0.013043
          ...
24.6    0.000311
2.1     0.000311
28.9    0.000311
30.9    0.000311
40.3    0.000311
Name: Construction, Length: 237, dtype: float64
------------------------------------------------------


------------------------------------------------------
Production
unique values: 292 ('NaN' included)
NaN exists? False
------------------------------------------------------
14.1    0.010248
13.7    0.009627
12.6    0.009317
16.3    0.008696
10.1    0.008696
          ...
35.9    0.000311
6.6     0.000311
55.6    0.000311
32.4    0.000311
3.1     0.000311
Name: Production, Length: 292, dtype: float64
------------------------------------------------------


------------------------------------------------------
Drive
unique values: 365 ('NaN' included)
NaN exists? False
------------------------------------------------------
81.7    0.011801
81.9    0.010559
82.0    0.010559
84.9    0.009627
83.6    0.009317
          ...
67.0    0.000311
54.5    0.000311
63.5    0.000311
53.3    0.000311
59.5    0.000311
Name: Drive, Length: 365, dtype: float64
------------------------------------------------------


------------------------------------------------------
Carpool
unique values: 189 ('NaN' included)
NaN exists? False
------------------------------------------------------
9.2     0.019565
8.9     0.019255
10.0    0.018944
9.1     0.018944
9.4     0.018944
          ...
2.0     0.000311
20.4    0.000311
3.5     0.000311
25.3    0.000311
1.2     0.000311
Name: Carpool, Length: 189, dtype: float64
------------------------------------------------------


------------------------------------------------------
Transit
unique values: 119 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.166770
0.2     0.116460
0.1     0.110870
0.3     0.100311
0.4     0.084472
          ...
18.6    0.000311
41.0    0.000311
13.1    0.000311
37.4    0.000311
13.6    0.000311
Name: Transit, Length: 119, dtype: float64
------------------------------------------------------


------------------------------------------------------
Walk
unique values: 171 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.4     0.033230
1.6     0.031677
1.5     0.030745
1.7     0.030124
1.3     0.029503
          ...
46.9    0.000311
47.6    0.000311
18.6    0.000311
31.7    0.000311
71.2    0.000311
Name: Walk, Length: 171, dtype: float64
------------------------------------------------------


------------------------------------------------------
OtherTransp
unique values: 93 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.0     0.064596
0.9     0.058075
1.1     0.058075
1.3     0.054658
1.2     0.053416
          ...
10.7    0.000311
7.1     0.000311
39.1    0.000311
8.4     0.000311
10.2    0.000311
Name: OtherTransp, Length: 93, dtype: float64
------------------------------------------------------


------------------------------------------------------
WorkAtHome
unique values: 188 ('NaN' included)
NaN exists? False
------------------------------------------------------
3.7     0.027329
3.0     0.025466
3.3     0.023602
2.7     0.021739
2.5     0.021429
          ...
14.5    0.000311
19.0    0.000311
25.0    0.000311
23.0    0.000311
16.5    0.000311
Name: WorkAtHome, Length: 188, dtype: float64
------------------------------------------------------


------------------------------------------------------
MeanCommute
unique values: 309 ('NaN' included)
NaN exists? False
------------------------------------------------------
23.2    0.010248
22.1    0.009938
24.1    0.009938
21.3    0.009938
20.7    0.009317
          ...
8.8     0.000311
8.6     0.000311
41.1    0.000311
37.1    0.000311
41.4    0.000311
Name: MeanCommute, Length: 309, dtype: float64
------------------------------------------------------


------------------------------------------------------
Employed
unique values: 3098 ('NaN' included)
NaN exists? False
------------------------------------------------------
2078       0.000932
3618       0.000932
4365       0.000932
6712       0.000932
3955       0.000932
             ...
5280       0.000311
2696       0.000311
1204871    0.000311
92806      0.000311
4096       0.000311
Name: Employed, Length: 3098, dtype: float64
------------------------------------------------------


------------------------------------------------------
PrivateWork
unique values: 381 ('NaN' included)
NaN exists? False
------------------------------------------------------
79.8    0.009317
78.6    0.009006
79.2    0.008696
79.0    0.008385
76.4    0.008385
          ...
63.6    0.000311
59.8    0.000311
55.3    0.000311
52.8    0.000311
59.4    0.000311
Name: PrivateWork, Length: 381, dtype: float64
------------------------------------------------------


------------------------------------------------------
PublicWork
unique values: 322 ('NaN' included)
NaN exists? False
------------------------------------------------------
13.8    0.011491
13.3    0.010870
16.3    0.010248
13.4    0.009938
14.3    0.009627
          ...
33.0    0.000311
49.2    0.000311
28.5    0.000311
55.0    0.000311
38.8    0.000311
Name: PublicWork, Length: 322, dtype: float64
------------------------------------------------------


------------------------------------------------------
SelfEmployed
unique values: 221 ('NaN' included)
NaN exists? False
------------------------------------------------------
5.7     0.021739
6.0     0.021739
5.5     0.019255
6.7     0.018944
6.1     0.017702
          ...
18.3    0.000311
19.4    0.000311
24.8    0.000311
1.5     0.000311
1.7     0.000311
Name: SelfEmployed, Length: 221, dtype: float64
------------------------------------------------------


------------------------------------------------------
FamilyWork
unique values: 39 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.1    0.264286
0.2    0.211180
0.0    0.177640
0.3    0.107764
0.4    0.070497
0.5    0.049689
0.6    0.025466
0.7    0.018634
0.8    0.013354
0.9    0.010870
1.1    0.008696
1.2    0.008385
1.0    0.005590
1.5    0.004969
1.3    0.004037
1.4    0.002484
1.6    0.002484
1.9    0.001863
1.8    0.001553
1.7    0.001553
2.5    0.001242
2.0    0.001242
2.1    0.000621
3.2    0.000621
3.1    0.000621
2.6    0.000621
6.0    0.000311
2.4    0.000311
6.1    0.000311
8.0    0.000311
2.7    0.000311
4.5    0.000311
3.6    0.000311
4.0    0.000311
9.8    0.000311
3.4    0.000311
2.3    0.000311
3.8    0.000311
3.0    0.000311
Name: FamilyWork, dtype: float64
------------------------------------------------------


------------------------------------------------------
Unemployment
unique values: 230 ('NaN' included)
NaN exists? False
------------------------------------------------------
6.8     0.015839
6.9     0.014596
7.9     0.014596
7.2     0.014286
8.3     0.014286
          ...
27.4    0.000311
36.5    0.000311
20.1    0.000311
28.6    0.000311
15.1    0.000311
Name: Unemployment, Length: 230, dtype: float64
------------------------------------------------------

In [20]:
find_null_cols(df15c)

'NaN' found in columns as follows:
	Income               (float64)      contains          1 null values ( 0.03%) !
	IncomeErr            (float64)      contains          1 null values ( 0.03%) !
	ChildPoverty         (float64)      contains          1 null values ( 0.03%) !

In [21]:
df15c_v1 = replace_null_dfcols(df15c)
df15c_v1.isna().any()

CensusId           False
State              False
County             False
TotalPop           False
Men                False
Women              False
Hispanic           False
White              False
Black              False
Native             False
Asian              False
Pacific            False
Citizen            False
Income             False
IncomeErr          False
IncomePerCap       False
IncomePerCapErr    False
Poverty            False
ChildPoverty       False
Professional       False
Service            False
Office             False
Construction       False
Production         False
Drive              False
Carpool            False
Transit            False
Walk               False
OtherTransp        False
WorkAtHome         False
MeanCommute        False
Employed           False
PrivateWork        False
PublicWork         False
SelfEmployed       False
FamilyWork         False
Unemployment       False
dtype: bool

In [22]:
df15c_v1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CensusId,3220.0,31393.605280,16292.078954,1001.0,19032.50,30024.00,46105.500,72153.0
TotalPop,3220.0,99409.345963,319305.453731,85.0,11218.00,26035.00,66430.500,10038388.0
Men,3220.0,48896.937888,156681.276856,42.0,5637.25,12932.00,32992.750,4945351.0
Women,3220.0,50512.408075,162661.952823,43.0,5572.00,13057.00,33487.500,5093037.0
Hispanic,3220.0,11.011522,19.241380,0.0,1.90,3.90,9.825,99.9
White,3220.0,75.428789,22.932890,0.0,64.10,84.10,93.200,99.8
Black,3220.0,8.665497,14.279122,0.0,0.50,1.90,9.600,85.9
Native,3220.0,1.723509,7.253115,0.0,0.10,0.30,0.600,92.1
Asian,3220.0,1.229068,2.633079,0.0,0.20,0.50,1.200,41.6
Pacific,3220.0,0.082733,0.734931,0.0,0.00,0.00,0.000,35.3
Citizen,3220.0,69935.071739,205118.907371,80.0,8450.50,19643.00,49920.500,6046749.0
Income,3220.0,46115.542547,12934.864321,-1.0,38190.75,44748.50,52070.000,123453.0
IncomeErr,3220.0,2849.509938,1919.302085,-1.0,1635.00,2406.00,3445.500,21355.0
IncomePerCap,3220.0,23981.771739,6204.339960,5878.0,20238.50,23460.00,27053.250,65600.0
IncomePerCapErr,3220.0,1362.518944,1049.875689,113.0,755.00,1096.50,1631.000,15266.0
Poverty,3220.0,17.493261,8.317883,1.4,12.10,16.15,20.700,64.2
ChildPoverty,3220.0,24.172981,11.704927,-1.0,16.30,22.70,30.000,81.6
Professional,3220.0,30.990621,6.368379,13.5,26.70,29.90,34.400,74.0
Service,3220.0,18.346398,3.635764,5.0,16.00,18.10,20.300,38.2
Office,3220.0,22.215807,3.199682,4.1,20.20,22.40,24.400,35.4
Construction,3220.0,12.714099,4.216784,1.7,9.80,12.10,14.900,40.3
Production,3220.0,15.733385,5.736308,0.0,11.50,15.25,19.325,55.6
Drive,3220.0,79.181925,7.657972,5.2,76.60,80.70,83.700,94.6
Carpool,3220.0,10.278758,2.907897,0.0,8.40,9.90,11.800,29.9
Transit,3220.0,0.971832,3.059019,0.0,0.10,0.40,0.800,61.7
Walk,3220.0,3.323509,3.756096,0.0,1.40,2.40,4.000,71.2
OtherTransp,3220.0,1.612733,1.670988,0.0,0.90,1.30,1.900,39.1
WorkAtHome,3220.0,4.631770,3.178772,0.0,2.70,3.90,5.600,37.2
MeanCommute,3220.0,23.278758,5.600466,4.9,19.50,23.00,26.800,44.0
Employed,3220.0,45593.518323,149699.504316,62.0,4550.75,10508.00,28632.750,4635465.0
PrivateWork,3220.0,74.219348,7.863188,25.0,70.50,75.70,79.700,88.3
PublicWork,3220.0,17.560870,6.510354,5.8,13.10,16.20,20.500,66.2
SelfEmployed,3220.0,7.931801,3.914974,0.0,5.40,6.90,9.400,36.6
FamilyWork,3220.0,0.288106,0.455137,0.0,0.10,0.20,0.300,9.8
Unemployment,3220.0,8.094441,4.096114,0.0,5.50,7.60,9.900,36.5

# 2017 census tract
Data for each census tract in the US, including DC and Puerto Rico.

In [23]:
df17ct = pd.read_csv("./kaggle/acs2017_census_tract_data.csv",index_col=None)
df17ct.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga County,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga County,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga County,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga County,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga County,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [24]:
df17ct.columns

Index(['TractId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'VotingAgeCitizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [25]:
df17ct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74001 entries, 0 to 74000
Data columns (total 37 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TractId           74001 non-null  int64
 1   State             74001 non-null  object
 2   County            74001 non-null  object
 3   TotalPop          74001 non-null  int64
 4   Men               74001 non-null  int64
 5   Women             74001 non-null  int64
 6   Hispanic          73305 non-null  float64
 7   White             73305 non-null  float64
 8   Black             73305 non-null  float64
 9   Native            73305 non-null  float64
 10  Asian             73305 non-null  float64
 11  Pacific           73305 non-null  float64
 12  VotingAgeCitizen  74001 non-null  int64
 13  Income            72885 non-null  float64
 14  IncomeErr         72885 non-null  float64
 15  IncomePerCap      73256 non-null  float64
 16  IncomePerCapErr   73256 non-null  float64
 17  Poverty           73159 non-null  float64
 18  ChildPoverty      72891 non-null  float64
 19  Professional      73190 non-null  float64
 20  Service           73190 non-null  float64
 21  Office            73190 non-null  float64
 22  Construction      73190 non-null  float64
 23  Production        73190 non-null  float64
 24  Drive             73200 non-null  float64
 25  Carpool           73200 non-null  float64
 26  Transit           73200 non-null  float64
 27  Walk              73200 non-null  float64
 28  OtherTransp       73200 non-null  float64
 29  WorkAtHome        73200 non-null  float64
 30  MeanCommute       73055 non-null  float64
 31  Employed          74001 non-null  int64
 32  PrivateWork       73190 non-null  float64
 33  PublicWork        73190 non-null  float64
 34  SelfEmployed      73190 non-null  float64
 35  FamilyWork        73190 non-null  float64
 36  Unemployment      73191 non-null  float64
dtypes: float64(29), int64(6), object(2)
memory usage: 20.9+ MB

In [26]:
df17ct.describe()

,TractId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,7.400100e+04,74001.000000,74001.000000,74001.000000,73305.000000,73305.000000,73305.00000,73305.000000,73305.000000,73305.000000,...,73200.000000,73200.000000,73200.000000,73055.000000,74001.000000,73190.000000,73190.000000,73190.000000,73190.000000,73191.000000
mean,2.839113e+10,4384.716017,2157.710707,2227.005311,17.265444,61.309043,13.28910,0.734047,4.753691,0.147341,...,3.042825,1.894605,4.661466,26.056594,2049.152052,79.494222,14.163342,6.171484,0.171164,7.246738
std,1.647593e+10,2228.936729,1120.560504,1146.240218,23.073811,30.634461,21.60118,4.554247,8.999888,1.029250,...,5.805753,2.549374,4.014940,7.124524,1138.865457,8.126383,7.328680,3.932364,0.456580,5.227624
min,1.001020e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.303901e+10,2903.000000,1416.000000,1465.000000,2.600000,38.000000,0.80000,0.000000,0.200000,0.000000,...,0.400000,0.400000,2.000000,21.100000,1276.000000,75.200000,9.300000,3.500000,0.000000,3.900000
50%,2.804700e+10,4105.000000,2007.000000,2082.000000,7.400000,70.400000,3.80000,0.000000,1.500000,0.000000,...,1.400000,1.200000,3.800000,25.400000,1895.000000,80.600000,13.000000,5.500000,0.000000,6.000000
75%,4.200341e+10,5506.000000,2707.000000,2803.000000,21.100000,87.700000,14.60000,0.400000,5.000000,0.000000,...,3.300000,2.500000,6.300000,30.300000,2635.000000,85.000000,17.600000,8.000000,0.000000,9.000000
max,7.215375e+10,65528.000000,32266.000000,33262.000000,100.000000,100.000000,100.00000,100.000000,100.000000,71.900000,...,100.000000,100.000000,100.000000,73.900000,28945.000000,100.000000,100.000000,100.000000,22.300000,100.000000

In [27]:
check_cols(df17ct)

------------------------------------------------------
TractId
unique values: 74001 ('NaN' included)
NaN exists? False
------------------------------------------------------
29189218300    0.000014
18097340109    0.000014
35001000713    0.000014
33011002200    0.000014
50027965200    0.000014
                 ...
6073005500     0.000014
12031014332    0.000014
37051001500    0.000014
13089023422    0.000014
13135050418    0.000014
Name: TractId, Length: 74001, dtype: float64
------------------------------------------------------


------------------------------------------------------
State
unique values: 52 ('NaN' included)
NaN exists? False
------------------------------------------------------
California              0.108877
Texas                   0.071148
New York                0.066459
Florida                 0.057364
Pennsylvania            0.043486
Illinois                0.042202
Ohio                    0.039891
Michigan                0.038013
North Carolina          0.029662
New Jersey              0.027162
Georgia                 0.026608
Virginia                0.025770
Arizona                 0.020621
Indiana                 0.020419
Tennessee               0.020229
Massachusetts           0.019973
Washington              0.019702
Wisconsin               0.019040
Maryland                0.019000
Missouri                0.018824
Minnesota               0.018081
Colorado                0.016878
Alabama                 0.015959
Louisiana               0.015513
Kentucky                0.015067
South Carolina          0.014905
Oklahoma                0.014135
Puerto Rico             0.012770
Oregon                  0.011270
Connecticut             0.011257
Iowa                    0.011148
Kansas                  0.010405
Nevada                  0.009284
Arkansas                0.009270
Mississippi             0.008973
Utah                    0.007946
Nebraska                0.007189
New Mexico              0.006743
West Virginia           0.006540
Maine                   0.004838
Hawaii                  0.004743
Idaho                   0.004027
New Hampshire           0.003986
Montana                 0.003662
Rhode Island            0.003297
South Dakota            0.003000
Delaware                0.002946
North Dakota            0.002770
Vermont                 0.002486
District of Columbia    0.002419
Alaska                  0.002257
Wyoming                 0.001784
Name: State, dtype: float64
------------------------------------------------------


------------------------------------------------------
County
unique values: 1955 ('NaN' included)
NaN exists? False
------------------------------------------------------
Los Angeles County           0.031702
Cook County                  0.017919
Orange County                0.012689
Maricopa County              0.012378
Montgomery County            0.011257
                               ...
Granite County               0.000014
Collingsworth County         0.000014
Foster County                0.000014
Wrangell City and Borough    0.000014
Roger Mills County           0.000014
Name: County, Length: 1955, dtype: float64
------------------------------------------------------


------------------------------------------------------
TotalPop
unique values: 9881 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.009405
3279     0.000392
3662     0.000392
4684     0.000365
3472     0.000365
           ...
638      0.000014
12940    0.000014
10895    0.000014
10350    0.000014
14013    0.000014
Name: TotalPop, Length: 9881, dtype: float64
------------------------------------------------------


------------------------------------------------------
Men
unique values: 5721 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.009662
1535     0.000649
2215     0.000635
1748     0.000622
1887     0.000622
           ...
5537     0.000014
5473     0.000014
5409     0.000014
6579     0.000014
13803    0.000014
Name: Men, Length: 5721, dtype: float64
------------------------------------------------------


------------------------------------------------------
Women
unique values: 5849 ('NaN' included)
NaN exists? False
------------------------------------------------------
0       0.010243
1696    0.000676
2050    0.000622
1617    0.000622
2166    0.000622
          ...
229     0.000014
8481    0.000014
4822    0.000014
6261    0.000014
6749    0.000014
Name: Women, Length: 5849, dtype: float64
------------------------------------------------------


------------------------------------------------------
Hispanic
unique values: 1002 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
0.0     0.030283
1.5     0.009473
NaN     0.009405
1.8     0.009378
1.0     0.009378
          ...
90.8    0.000068
79.3    0.000054
87.8    0.000054
91.4    0.000041
88.4    0.000027
Name: Hispanic, Length: 1002, dtype: float64
------------------------------------------------------


------------------------------------------------------
White
unique values: 1002 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
NaN     0.009405
0.0     0.008338
95.5    0.002986
94.9    0.002959
96.3    0.002959
          ...
13.3    0.000311
19.8    0.000311
42.1    0.000284
99.8    0.000284
99.9    0.000216
Name: White, Length: 1002, dtype: float64
------------------------------------------------------


------------------------------------------------------
Black
unique values: 1002 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
0.0     0.105215
0.2     0.022729
0.3     0.021811
0.1     0.021756
0.4     0.019608
          ...
85.4    0.000054
84.5    0.000054
77.1    0.000054
69.3    0.000041
99.9    0.000014
Name: Black, Length: 1002, dtype: float64
------------------------------------------------------


------------------------------------------------------
Native
unique values: 483 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
0.0     0.588600
0.2     0.056607
0.3     0.044445
0.1     0.043797
0.4     0.036175
          ...
96.3    0.000014
61.5    0.000014
35.4    0.000014
85.0    0.000014
31.8    0.000014
Name: Native, Length: 483, dtype: float64
------------------------------------------------------


------------------------------------------------------
Asian
unique values: 776 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
0.0     0.210416
0.2     0.029446
0.3     0.029216
0.4     0.027162
0.5     0.023892
          ...
74.0    0.000014
75.6    0.000014
61.6    0.000014
70.3    0.000014
75.5    0.000014
Name: Asian, Length: 776, dtype: float64
------------------------------------------------------


------------------------------------------------------
Pacific
unique values: 176 ('NaN' included)
NaN exists? True
how many 'NaN' values? 696 (0.94%)
------------------------------------------------------
0.0     0.863421
0.2     0.020811
0.1     0.016851
0.3     0.015513
0.4     0.011270
          ...
60.6    0.000014
13.9    0.000014
20.1    0.000014
21.2    0.000014
33.3    0.000014
Name: Pacific, Length: 176, dtype: float64
------------------------------------------------------


------------------------------------------------------
VotingAgeCitizen
unique values: 7452 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.009432
2778     0.000514
3319     0.000473
2965     0.000473
2520     0.000473
           ...
7072     0.000014
466      0.000014
11148    0.000014
10647    0.000014
288      0.000014
Name: VotingAgeCitizen, Length: 7452, dtype: float64
------------------------------------------------------


------------------------------------------------------
Income
unique values: 41833 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1116 (1.51%)
------------------------------------------------------
NaN         0.015081
43750.0     0.000716
48750.0     0.000703
41250.0     0.000689
36250.0     0.000662
              ...
52819.0     0.000014
50257.0     0.000014
105639.0    0.000014
51637.0     0.000014
36681.0     0.000014
Name: Income, Length: 41833, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomeErr
unique values: 19735 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1116 (1.51%)
------------------------------------------------------
NaN        0.015081
6405.0     0.000243
3636.0     0.000243
7181.0     0.000230
7343.0     0.000230
             ...
19654.0    0.000014
39133.0    0.000014
35795.0    0.000014
14237.0    0.000014
15374.0    0.000014
Name: IncomeErr, Length: 19735, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCap
unique values: 37194 ('NaN' included)
NaN exists? True
how many 'NaN' values? 745 (1.01%)
------------------------------------------------------
NaN        0.010067
28751.0    0.000135
24196.0    0.000135
20379.0    0.000122
22036.0    0.000122
             ...
12204.0    0.000014
67396.0    0.000014
74254.0    0.000014
33251.0    0.000014
50723.0    0.000014
Name: IncomePerCap, Length: 37194, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCapErr
unique values: 11291 ('NaN' included)
NaN exists? True
how many 'NaN' values? 745 (1.01%)
------------------------------------------------------
NaN        0.010067
2436.0     0.000500
3215.0     0.000473
2644.0     0.000473
2462.0     0.000473
             ...
9257.0     0.000014
11694.0    0.000014
25831.0    0.000014
19437.0    0.000014
8302.0     0.000014
Name: IncomePerCapErr, Length: 11291, dtype: float64
------------------------------------------------------


------------------------------------------------------
Poverty
unique values: 830 ('NaN' included)
NaN exists? True
how many 'NaN' values? 842 (1.14%)
------------------------------------------------------
NaN     0.011378
4.5     0.005392
4.2     0.005365
6.0     0.005324
6.5     0.005162
          ...
75.2    0.000014
91.2    0.000014
66.5    0.000014
77.3    0.000014
84.0    0.000014
Name: Poverty, Length: 830, dtype: float64
------------------------------------------------------


------------------------------------------------------
ChildPoverty
unique values: 957 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1110 (1.50%)
------------------------------------------------------
0.0     0.067188
NaN     0.015000
2.2     0.003703
2.4     0.003581
2.7     0.003568
          ...
97.2    0.000014
92.0    0.000014
97.4    0.000014
90.5    0.000014
98.3    0.000014
Name: ChildPoverty, Length: 957, dtype: float64
------------------------------------------------------


------------------------------------------------------
Professional
unique values: 870 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
NaN     0.010959
29.0    0.003378
31.3    0.003243
29.6    0.003230
28.1    0.003162
          ...
85.2    0.000014
85.8    0.000014
92.2    0.000014
86.0    0.000014
3.5     0.000014
Name: Professional, Length: 870, dtype: float64
------------------------------------------------------


------------------------------------------------------
Service
unique values: 595 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------

NaN     0.010959
16.6    0.006243
16.4    0.006135
14.4    0.006095
17.6    0.006013
          ...
63.4    0.000014
52.5    0.000014
56.0    0.000014
0.6     0.000014
52.2    0.000014
Name: Service, Length: 595, dtype: float64
------------------------------------------------------


------------------------------------------------------
Office
unique values: 506 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
NaN     0.010959
24.2    0.008122
21.3    0.008122
22.2    0.007865
22.8    0.007811
          ...
55.1    0.000014
56.3    0.000014
3.8     0.000014
54.3    0.000014
56.4    0.000014
Name: Office, Length: 506, dtype: float64
------------------------------------------------------


------------------------------------------------------
Construction
unique values: 492 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
0.0     0.013662
NaN     0.010959
6.9     0.007919
5.7     0.007811
8.0     0.007689
          ...
55.1    0.000014
40.1    0.000014
63.7    0.000014
44.6    0.000014
41.4    0.000014
Name: Construction, Length: 492, dtype: float64
------------------------------------------------------


------------------------------------------------------
Production
unique values: 519 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
NaN     0.010959
10.8    0.006095
9.4     0.005757
8.9     0.005730
8.2     0.005730
          ...
46.1    0.000014
53.5    0.000014
47.7    0.000014
60.5    0.000014
52.2    0.000014
Name: Production, Length: 519, dtype: float64
------------------------------------------------------


------------------------------------------------------
Drive
unique values: 982 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
NaN     0.010824
83.9    0.005446
82.7    0.005405
82.4    0.005338
82.3    0.005297
          ...
2.3     0.000014
97.8    0.000014
21.5    0.000014
0.6     0.000014
1.8     0.000014
Name: Drive, Length: 982, dtype: float64
------------------------------------------------------


------------------------------------------------------
Carpool
unique values: 418 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
NaN     0.010824
6.6     0.010081
8.0     0.009905
9.1     0.009284
7.3     0.009257
          ...
58.9    0.000014
44.9    0.000014
38.8    0.000014
45.7    0.000014
59.1    0.000014
Name: Carpool, Length: 418, dtype: float64
------------------------------------------------------


------------------------------------------------------
Transit
unique values: 835 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
0.0     0.310401
0.5     0.024297
0.4     0.023229
0.6     0.022621
0.3     0.019919
          ...
54.2    0.000014
77.3    0.000014
83.2    0.000014
80.6    0.000014
84.6    0.000014
Name: Transit, Length: 835, dtype: float64
------------------------------------------------------


------------------------------------------------------
Walk
unique values: 597 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
0.0     0.199349
0.5     0.032405
0.4     0.029905
0.6     0.027324
0.7     0.026675
          ...
32.6    0.000014
32.1    0.000014
65.4    0.000014
71.6    0.000014
31.8    0.000014
Name: Walk, Length: 597, dtype: float64
------------------------------------------------------


------------------------------------------------------
OtherTransp
unique values: 290 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
0.0     0.192889
0.5     0.037972
0.6     0.035054
0.4     0.034810
0.7     0.033000
          ...
24.8    0.000014
33.7    0.000014
20.7    0.000014
30.8    0.000014
31.8    0.000014
Name: OtherTransp, Length: 290, dtype: float64
------------------------------------------------------


------------------------------------------------------
WorkAtHome
unique values: 373 ('NaN' included)
NaN exists? True
how many 'NaN' values? 801 (1.08%)
------------------------------------------------------
0.0     0.048324
2.4     0.014175
2.9     0.014148
3.4     0.014067
2.3     0.014054
          ...
25.1    0.000014
29.8    0.000014
52.0    0.000014
24.5    0.000014
31.8    0.000014
Name: WorkAtHome, Length: 373, dtype: float64
------------------------------------------------------


------------------------------------------------------
MeanCommute
unique values: 535 ('NaN' included)
NaN exists? True
how many 'NaN' values? 946 (1.28%)
------------------------------------------------------
NaN     0.012784
22.7    0.006581
25.1    0.006284
25.4    0.006216
24.2    0.006176
          ...
60.6    0.000014
58.9    0.000014
56.9    0.000014
7.6     0.000014
57.5    0.000014
Name: MeanCommute, Length: 535, dtype: float64
------------------------------------------------------


------------------------------------------------------
Employed
unique values: 5766 ('NaN' included)
NaN exists? False
------------------------------------------------------
0        0.010959
1669     0.000649
2142     0.000649
1826     0.000608
1871     0.000608
           ...
4656     0.000014
4697     0.000014
10654    0.000014
4505     0.000014
4896     0.000014
Name: Employed, Length: 5766, dtype: float64
------------------------------------------------------


------------------------------------------------------
PrivateWork
unique values: 684 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
NaN     0.010959
82.5    0.006459
81.1    0.006122
82.6    0.006000
81.8    0.005986
          ...
37.0    0.000014
29.0    0.000014
28.6    0.000014
41.8    0.000014
12.9    0.000014
Name: PrivateWork, Length: 684, dtype: float64
------------------------------------------------------


------------------------------------------------------
PublicWork
unique values: 634 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
NaN     0.010959
12.2    0.007581
10.9    0.007311
10.3    0.007230
11.6    0.007176
          ...
82.5    0.000014
62.0    0.000014
75.9    0.000014
61.3    0.000014
42.7    0.000014
Name: PublicWork, Length: 634, dtype: float64
------------------------------------------------------


------------------------------------------------------
SelfEmployed
unique values: 334 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
0.0     0.013594
3.8     0.013540
4.4     0.013365
5.0     0.013324
4.1     0.013297
          ...
27.3    0.000014
41.2    0.000014
44.4    0.000014
26.8    0.000014
31.8    0.000014
Name: SelfEmployed, Length: 334, dtype: float64
------------------------------------------------------


------------------------------------------------------
FamilyWork
unique values: 76 ('NaN' included)
NaN exists? True
how many 'NaN' values? 811 (1.10%)
------------------------------------------------------
0.0     0.759341
0.4     0.032864
0.5     0.029702
0.3     0.027000
0.6     0.023310
          ...
16.0    0.000014
8.0     0.000014
6.9     0.000014
10.1    0.000014
6.1     0.000014
Name: FamilyWork, Length: 76, dtype: float64
------------------------------------------------------


------------------------------------------------------
Unemployment
unique values: 469 ('NaN' included)
NaN exists? True
how many 'NaN' values? 810 (1.09%)
------------------------------------------------------
4.4     0.012567
4.8     0.012554
5.1     0.012473
4.6     0.012473
3.9     0.012446
          ...
46.0    0.000014
58.7    0.000014
44.9    0.000014
39.4    0.000014
53.7    0.000014
Name: Unemployment, Length: 469, dtype: float64
------------------------------------------------------

In [28]:
find_null_cols(df17ct)

'NaN' found in columns as follows:
	Hispanic             (float64)      contains        696 null values ( 0.94%) !
	White                (float64)      contains        696 null values ( 0.94%) !
	Black                (float64)      contains        696 null values ( 0.94%) !
	Native               (float64)      contains        696 null values ( 0.94%) !
	Asian                (float64)      contains        696 null values ( 0.94%) !
	Pacific              (float64)      contains        696 null values ( 0.94%) !
	Income               (float64)      contains       1116 null values ( 1.51%) !
	IncomeErr            (float64)      contains       1116 null values ( 1.51%) !
	IncomePerCap         (float64)      contains        745 null values ( 1.01%) !
	IncomePerCapErr      (float64)      contains        745 null values ( 1.01%) !
	Poverty              (float64)      contains        842 null values ( 1.14%) !
	ChildPoverty         (float64)      contains       1110 null values ( 1.50%) !
	Professional         (float64)      contains        811 null values ( 1.10%) !
	Service              (float64)      contains        811 null values ( 1.10%) !
	Office               (float64)      contains        811 null values ( 1.10%) !
	Construction         (float64)      contains        811 null values ( 1.10%) !
	Production           (float64)      contains        811 null values ( 1.10%) !
	Drive                (float64)      contains        801 null values ( 1.08%) !
	Carpool              (float64)      contains        801 null values ( 1.08%) !
	Transit              (float64)      contains        801 null values ( 1.08%) !
	Walk                 (float64)      contains        801 null values ( 1.08%) !
	OtherTransp          (float64)      contains        801 null values ( 1.08%) !
	WorkAtHome           (float64)      contains        801 null values ( 1.08%) !
	MeanCommute          (float64)      contains        946 null values ( 1.28%) !
	PrivateWork          (float64)      contains        811 null values ( 1.10%) !
	PublicWork           (float64)      contains        811 null values ( 1.10%) !
	SelfEmployed         (float64)      contains        811 null values ( 1.10%) !
	FamilyWork           (float64)      contains        811 null values ( 1.10%) !
	Unemployment         (float64)      contains        810 null values ( 1.09%) !

In [29]:
df17ct_v1 = replace_null_dfcols(df17ct)
df17ct_v1.isna().any()

TractId             False
State               False
County              False
TotalPop            False
Men                 False
Women               False
Hispanic            False
White               False
Black               False
Native              False
Asian               False
Pacific             False
VotingAgeCitizen    False
Income              False
IncomeErr           False
IncomePerCap        False
IncomePerCapErr     False
Poverty             False
ChildPoverty        False
Professional        False
Service             False
Office              False
Construction        False
Production          False
Drive               False
Carpool             False
Transit             False
Walk                False
OtherTransp         False
WorkAtHome          False
MeanCommute         False
Employed            False
PrivateWork         False
PublicWork          False
SelfEmployed        False
FamilyWork          False
Unemployment        False
dtype: bool

In [30]:
df17ct_v1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
TractId,74001.0,2.839113e+10,1.647593e+10,1.001020e+09,1.303901e+10,2.804700e+10,4.200341e+10,7.215375e+10
TotalPop,74001.0,4.384716e+03,2.228937e+03,0.000000e+00,2.903000e+03,4.105000e+03,5.506000e+03,6.552800e+04
Men,74001.0,2.157711e+03,1.120561e+03,0.000000e+00,1.416000e+03,2.007000e+03,2.707000e+03,3.226600e+04
Women,74001.0,2.227005e+03,1.146240e+03,0.000000e+00,1.465000e+03,2.082000e+03,2.803000e+03,3.326200e+04
Hispanic,74001.0,1.709365e+01,2.303262e+01,-1.000000e+00,2.500000e+00,7.300000e+00,2.090000e+01,1.000000e+02
White,74001.0,6.072301e+01,3.107758e+01,-1.000000e+00,3.670000e+01,7.000000e+01,8.760000e+01,1.000000e+02
Black,74001.0,1.315471e+01,2.154355e+01,-1.000000e+00,7.000000e-01,3.700000e+00,1.440000e+01,1.000000e+02
Native,74001.0,7.177376e-01,4.535868e+00,-1.000000e+00,0.000000e+00,0.000000e+00,4.000000e-01,1.000000e+02
Asian,74001.0,4.699576e+00,8.974665e+00,-1.000000e+00,2.000000e-01,1.400000e+00,5.000000e+00,1.000000e+02
Pacific,74001.0,1.365495e-01,1.030367e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.190000e+01
VotingAgeCitizen,74001.0,3.102886e+03,1.542245e+03,0.000000e+00,2.061000e+03,2.905000e+03,3.906000e+03,3.938900e+04
Income,74001.0,6.016557e+04,3.118682e+04,-1.000000e+00,3.968100e+04,5.393700e+04,7.427100e+04,2.497500e+05
IncomeErr,74001.0,9.551204e+03,6.221400e+03,-1.000000e+00,5.612000e+03,8.177000e+03,1.182700e+04,1.533650e+05
IncomePerCap,74001.0,3.034321e+04,1.633475e+04,-1.000000e+00,2.033400e+04,2.707700e+04,3.626500e+04,2.202530e+05
IncomePerCapErr,74001.0,4.227174e+03,3.161053e+03,-1.000000e+00,2.476000e+03,3.382000e+03,4.943000e+03,1.340170e+05
Poverty,74001.0,1.592341e+01,1.274858e+01,-1.000000e+00,6.700000e+00,1.250000e+01,2.170000e+01,1.000000e+02
ChildPoverty,74001.0,2.082354e+01,1.870032e+01,-1.000000e+00,5.800000e+00,1.590000e+01,3.130000e+01,1.000000e+02
Professional,74001.0,3.515881e+01,1.553527e+01,-1.000000e+00,2.440000e+01,3.310000e+01,4.470000e+01,1.000000e+02
Service,74001.0,1.865664e+01,8.352892e+00,-1.000000e+00,1.310000e+01,1.760000e+01,2.320000e+01,1.000000e+02
Office,74001.0,2.316001e+01,6.309456e+00,-1.000000e+00,1.960000e+01,2.320000e+01,2.690000e+01,1.000000e+02
Construction,74001.0,9.127133e+00,6.092247e+00,-1.000000e+00,4.800000e+00,8.300000e+00,1.240000e+01,1.000000e+02
Production,74001.0,1.274695e+01,7.805431e+00,-1.000000e+00,6.900000e+00,1.170000e+01,1.740000e+01,1.000000e+02
Drive,74001.0,7.486781e+01,1.715575e+01,-1.000000e+00,7.180000e+01,7.980000e+01,8.490000e+01,1.000000e+02
Carpool,74001.0,9.196789e+00,5.302545e+00,-1.000000e+00,5.600000e+00,8.400000e+00,1.190000e+01,1.000000e+02
Transit,74001.0,5.325963e+00,1.164485e+01,-1.000000e+00,0.000000e+00,1.000000e+00,4.600000e+00,1.000000e+02
Walk,74001.0,2.999065e+00,5.789379e+00,-1.000000e+00,3.000000e-01,1.300000e+00,3.300000e+00,1.000000e+02
OtherTransp,74001.0,1.863273e+00,2.553168e+00,-1.000000e+00,4.000000e-01,1.100000e+00,2.500000e+00,1.000000e+02
WorkAtHome,74001.0,4.600185e+00,4.035895e+00,-1.000000e+00,1.900000e+00,3.800000e+00,6.300000e+00,1.000000e+02
MeanCommute,74001.0,2.571071e+01,7.703817e+00,-1.000000e+00,2.090000e+01,2.520000e+01,3.030000e+01,7.390000e+01
Employed,74001.0,2.049152e+03,1.138865e+03,0.000000e+00,1.276000e+03,1.895000e+03,2.635000e+03,2.894500e+04
PrivateWork,74001.0,7.861206e+01,1.164242e+01,-1.000000e+00,7.500000e+01,8.050000e+01,8.490000e+01,1.000000e+02
PublicWork,74001.0,1.399716e+01,7.457425e+00,-1.000000e+00,9.100000e+00,1.290000e+01,1.750000e+01,1.000000e+02
SelfEmployed,74001.0,6.092889e+00,3.981392e+00,-1.000000e+00,3.500000e+00,5.400000e+00,7.900000e+00,1.000000e+02
FamilyWork,74001.0,1.583289e-01,4.701574e-01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.230000e+01
Unemployment,74001.0,7.156471e+00,5.269268e+00,-1.000000e+00,3.800000e+00,5.900000e+00,9.000000e+00,1.000000e+02

# 2017 county
Data for each county or county equivalent in the US, including DC and Puerto Rico.

In [31]:
df17c = pd.read_csv("./kaggle/acs2015_county_data.csv",index_col=None)
df17c.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [32]:
df17c.columns

Index(['CensusId', 'State', 'County', 'TotalPop', 'Men', 'Women', 'Hispanic',
       'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen', 'Income',
       'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [33]:
df17c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

In [34]:
df17c.describe()

,CensusId,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
count,3220.000000,3.220000e+03,3.220000e+03,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000,...,3220.000000,3220.000000,3220.000000,3220.000000,3.220000e+03,3220.000000,3220.000000,3220.000000,3220.000000,3220.000000
mean,31393.605280,9.940935e+04,4.889694e+04,5.051241e+04,11.011522,75.428789,8.665497,1.723509,1.229068,0.082733,...,3.323509,1.612733,4.631770,23.278758,4.559352e+04,74.219348,17.560870,7.931801,0.288106,8.094441
std,16292.078954,3.193055e+05,1.566813e+05,1.626620e+05,19.241380,22.932890,14.279122,7.253115,2.633079,0.734931,...,3.756096,1.670988,3.178772,5.600466,1.496995e+05,7.863188,6.510354,3.914974,0.455137,4.096114
min,1001.000000,8.500000e+01,4.200000e+01,4.300000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.900000,6.200000e+01,25.000000,5.800000,0.000000,0.000000,0.000000
25%,19032.500000,1.121800e+04,5.637250e+03,5.572000e+03,1.900000,64.100000,0.500000,0.100000,0.200000,0.000000,...,1.400000,0.900000,2.700000,19.500000,4.550750e+03,70.500000,13.100000,5.400000,0.100000,5.500000
50%,30024.000000,2.603500e+04,1.293200e+04,1.305700e+04,3.900000,84.100000,1.900000,0.300000,0.500000,0.000000,...,2.400000,1.300000,3.900000,23.000000,1.050800e+04,75.700000,16.200000,6.900000,0.200000,7.600000
75%,46105.500000,6.643050e+04,3.299275e+04,3.348750e+04,9.825000,93.200000,9.600000,0.600000,1.200000,0.000000,...,4.000000,1.900000,5.600000,26.800000,2.863275e+04,79.700000,20.500000,9.400000,0.300000,9.900000
max,72153.000000,1.003839e+07,4.945351e+06,5.093037e+06,99.900000,99.800000,85.900000,92.100000,41.600000,35.300000,...,71.200000,39.100000,37.200000,44.000000,4.635465e+06,88.300000,66.200000,36.600000,9.800000,36.500000

In [35]:
check_cols(df17c)

------------------------------------------------------
CensusId
unique values: 3220 ('NaN' included)
NaN exists? False
------------------------------------------------------
51199    0.000311
13107    0.000311
13131    0.000311
13127    0.000311
13123    0.000311
           ...
28143    0.000311
24045    0.000311
28139    0.000311
24041    0.000311
46061    0.000311
Name: CensusId, Length: 3220, dtype: float64
------------------------------------------------------


------------------------------------------------------
State
unique values: 52 ('NaN' included)
NaN exists? False
------------------------------------------------------
Texas                   0.078882
Georgia                 0.049379
Virginia                0.041304
Kentucky                0.037267
Missouri                0.035714
Kansas                  0.032609
Illinois                0.031677
North Carolina          0.031056
Iowa                    0.030745
Tennessee               0.029503
Nebraska                0.028882
Indiana                 0.028571
Ohio                    0.027329
Minnesota               0.027019
Michigan                0.025776
Mississippi             0.025466
Puerto Rico             0.024224
Oklahoma                0.023913
Arkansas                0.023292
Wisconsin               0.022360
Florida                 0.020807
Alabama                 0.020807
Pennsylvania            0.020807
South Dakota            0.020497
Louisiana               0.019876
Colorado                0.019876
New York                0.019255
California              0.018012
Montana                 0.017391
West Virginia           0.017081
North Dakota            0.016460
South Carolina          0.014286
Idaho                   0.013665
Washington              0.012112
Oregon                  0.011180
New Mexico              0.010248
Utah                    0.009006
Alaska                  0.009006
Maryland                0.007453
Wyoming                 0.007143
New Jersey              0.006522
Nevada                  0.005280
Maine                   0.004969
Arizona                 0.004658
Vermont                 0.004348
Massachusetts           0.004348
New Hampshire           0.003106
Connecticut             0.002484
Rhode Island            0.001553
Hawaii                  0.001553
Delaware                0.000932
District of Columbia    0.000311
Name: State, dtype: float64
------------------------------------------------------


------------------------------------------------------
County
unique values: 1928 ('NaN' included)
NaN exists? False
------------------------------------------------------
Washington    0.009627
Jefferson     0.008075
Franklin      0.007764
Jackson       0.007453
Lincoln       0.007453
                ...
Moffat        0.000311
Lajas         0.000311
Corson        0.000311
New Kent      0.000311
Morrill       0.000311
Name: County, Length: 1928, dtype: float64
------------------------------------------------------


------------------------------------------------------
TotalPop
unique values: 3164 ('NaN' included)
NaN exists? False
------------------------------------------------------
13357      0.000621
2722       0.000621
119343     0.000621
2341       0.000621
13544      0.000621
             ...
1121645    0.000311
439660     0.000311
13672      0.000311
40293      0.000311
12290      0.000311
Name: TotalPop, Length: 3164, dtype: float64
------------------------------------------------------


------------------------------------------------------
Men
unique values: 3098 ('NaN' included)
NaN exists? False
------------------------------------------------------
5265     0.000932
4367     0.000932
6832     0.000932
4550     0.000932
32482    0.000932
           ...
2718     0.000311
18372    0.000311
15004    0.000311
87790    0.000311
8192     0.000311
Name: Men, Length: 3098, dtype: float64
------------------------------------------------------


------------------------------------------------------
Women
unique values: 3105 ('NaN' included)
NaN exists? False
------------------------------------------------------
11538    0.000932
1516     0.000932
15428    0.000621
934      0.000621
25710    0.000621
           ...
31562    0.000311
88641    0.000311
8833     0.000311
6784     0.000311
24576    0.000311
Name: Women, Length: 3105, dtype: float64
------------------------------------------------------


------------------------------------------------------
Hispanic
unique values: 466 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.4     0.022671
1.6     0.022671
1.3     0.022360
1.8     0.021429
2.1     0.019565
          ...
31.4    0.000311
58.8    0.000311
38.8    0.000311
56.7    0.000311
29.3    0.000311
Name: Hispanic, Length: 466, dtype: float64
------------------------------------------------------


------------------------------------------------------
White
unique values: 721 ('NaN' included)
NaN exists? False
------------------------------------------------------
95.4    0.008385
96.2    0.008075
95.5    0.008075
96.7    0.007764
94.6    0.007764
          ...
16.3    0.000311
32.9    0.000311
49.7    0.000311
3.1     0.000311
21.9    0.000311
Name: White, Length: 721, dtype: float64
------------------------------------------------------


------------------------------------------------------
Black
unique values: 487 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.059006
0.5     0.046894
0.4     0.042236
0.1     0.041925
0.2     0.037267
          ...
27.5    0.000311
32.9    0.000311
34.8    0.000311
29.1    0.000311
14.7    0.000311
Name: Black, Length: 487, dtype: float64
------------------------------------------------------


------------------------------------------------------
Native
unique values: 183 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.1     0.184783
0.2     0.165839
0.0     0.147205
0.3     0.107764
0.4     0.075466
          ...
17.3    0.000311
4.9     0.000311
26.5    0.000311
54.5    0.000311
5.8     0.000311
Name: Native, Length: 183, dtype: float64
------------------------------------------------------


------------------------------------------------------
Asian
unique values: 131 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.118323
0.3     0.084161
0.4     0.082919
0.2     0.079814
0.1     0.078261
          ...
10.8    0.000311
33.6    0.000311
6.6     0.000311
14.8    0.000311
23.2    0.000311
Name: Asian, Length: 131, dtype: float64
------------------------------------------------------


------------------------------------------------------
Pacific
unique values: 27 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.762112
0.1     0.131056
0.2     0.043168
0.3     0.020807
0.4     0.011801
0.5     0.006211
0.6     0.005280
0.7     0.004348
0.8     0.003416
0.9     0.002174
1.0     0.001553
1.1     0.000932
2.1     0.000932
1.2     0.000932
1.5     0.000932
1.4     0.000621
1.7     0.000621
9.1     0.000311
5.6     0.000311
11.1    0.000311
2.4     0.000311
8.6     0.000311
2.2     0.000311
1.3     0.000311
9.6     0.000311
35.3    0.000311
1.9     0.000311
Name: Pacific, dtype: float64
------------------------------------------------------


------------------------------------------------------
Citizen
unique values: 3146 ('NaN' included)
NaN exists? False
------------------------------------------------------
12604     0.000932
5886      0.000932
7188      0.000932
15638     0.000621
1911      0.000621
            ...
49827     0.000311
43682     0.000311
151454    0.000311
41631     0.000311
8192      0.000311
Name: Citizen, Length: 3146, dtype: float64
------------------------------------------------------


------------------------------------------------------
Income
unique values: 3067 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
48750.0    0.001242
35000.0    0.000932
42171.0    0.000932
44549.0    0.000932
45374.0    0.000932
             ...
63985.0    0.000311
29942.0    0.000311
38776.0    0.000311
36519.0    0.000311
24583.0    0.000311
Name: Income, Length: 3067, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomeErr
unique values: 2330 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
3292.0    0.001863
2402.0    0.001553
1892.0    0.001553
1473.0    0.001553
2179.0    0.001553
            ...
2451.0    0.000311
5031.0    0.000311
1064.0    0.000311
3272.0    0.000311
3088.0    0.000311
Name: IncomeErr, Length: 2330, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCap
unique values: 2962 ('NaN' included)
NaN exists? False
------------------------------------------------------
20534    0.001242
19743    0.001242
20697    0.000932
19891    0.000932
27402    0.000932
           ...
35446    0.000311
23156    0.000311
23154    0.000311
23152    0.000311
24576    0.000311
Name: IncomePerCap, Length: 2962, dtype: float64
------------------------------------------------------


------------------------------------------------------
IncomePerCapErr
unique values: 1758 ('NaN' included)
NaN exists? False
------------------------------------------------------
1103    0.002174
666     0.002174
842     0.002174
917     0.002174
1191    0.002174
          ...
2256    0.000311
209     0.000311
2258    0.000311
213     0.000311
2051    0.000311
Name: IncomePerCapErr, Length: 1758, dtype: float64
------------------------------------------------------


------------------------------------------------------
Poverty
unique values: 394 ('NaN' included)
NaN exists? False
------------------------------------------------------
12.9    0.010248
18.3    0.009317
15.3    0.009006
15.2    0.008696
13.5    0.008696
          ...
45.3    0.000311
34.9    0.000311
58.3    0.000311
57.8    0.000311
28.8    0.000311
Name: Poverty, Length: 394, dtype: float64
------------------------------------------------------


------------------------------------------------------
ChildPoverty
unique values: 545 ('NaN' included)
NaN exists? True
how many 'NaN' values? 1 (0.03%)
------------------------------------------------------
22.7    0.007764
20.7    0.007143
25.7    0.006832
15.6    0.006522
17.1    0.006522
          ...
43.1    0.000311
62.5    0.000311
42.5    0.000311
43.5    0.000311
2.3     0.000311
Name: ChildPoverty, Length: 545, dtype: float64
------------------------------------------------------


------------------------------------------------------
Professional
unique values: 344 ('NaN' included)
NaN exists? False
------------------------------------------------------
29.5    0.010870
28.4    0.010559
26.5    0.010559
28.1    0.009627
25.9    0.009006
          ...
13.5    0.000311
52.0    0.000311
46.9    0.000311
48.4    0.000311
68.0    0.000311
Name: Professional, Length: 344, dtype: float64
------------------------------------------------------


------------------------------------------------------
Service
unique values: 228 ('NaN' included)
NaN exists? False
------------------------------------------------------
18.9    0.016460
17.0    0.016149
18.5    0.015528
18.1    0.015217
17.6    0.014907
          ...
33.3    0.000311
5.0     0.000311
7.5     0.000311
26.8    0.000311
9.4     0.000311
Name: Service, Length: 228, dtype: float64
------------------------------------------------------


------------------------------------------------------
Office
unique values: 202 ('NaN' included)
NaN exists? False
------------------------------------------------------
23.5    0.015528
22.4    0.015217
22.5    0.015217
22.9    0.014286
22.6    0.014286
          ...
30.0    0.000311
30.7    0.000311
13.5    0.000311
29.0    0.000311
32.3    0.000311
Name: Office, Length: 202, dtype: float64
------------------------------------------------------


------------------------------------------------------
Construction
unique values: 237 ('NaN' included)
NaN exists? False
------------------------------------------------------
13.0    0.014286
11.1    0.013665
12.0    0.013043
11.9    0.013043
12.1    0.013043
          ...
24.6    0.000311
2.1     0.000311
28.9    0.000311
30.9    0.000311
40.3    0.000311
Name: Construction, Length: 237, dtype: float64
------------------------------------------------------


------------------------------------------------------
Production
unique values: 292 ('NaN' included)
NaN exists? False
------------------------------------------------------
14.1    0.010248
13.7    0.009627
12.6    0.009317
16.3    0.008696
10.1    0.008696
          ...
35.9    0.000311
6.6     0.000311
55.6    0.000311
32.4    0.000311
3.1     0.000311
Name: Production, Length: 292, dtype: float64
------------------------------------------------------


------------------------------------------------------
Drive
unique values: 365 ('NaN' included)
NaN exists? False
------------------------------------------------------
81.7    0.011801
81.9    0.010559
82.0    0.010559
84.9    0.009627
83.6    0.009317
          ...
67.0    0.000311
54.5    0.000311
63.5    0.000311
53.3    0.000311
59.5    0.000311
Name: Drive, Length: 365, dtype: float64
------------------------------------------------------


------------------------------------------------------
Carpool
unique values: 189 ('NaN' included)
NaN exists? False
------------------------------------------------------
9.2     0.019565
8.9     0.019255
10.0    0.018944
9.1     0.018944
9.4     0.018944
          ...
2.0     0.000311
20.4    0.000311
3.5     0.000311
25.3    0.000311
1.2     0.000311
Name: Carpool, Length: 189, dtype: float64
------------------------------------------------------


------------------------------------------------------
Transit
unique values: 119 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.0     0.166770
0.2     0.116460
0.1     0.110870
0.3     0.100311
0.4     0.084472
          ...
18.6    0.000311
41.0    0.000311
13.1    0.000311
37.4    0.000311
13.6    0.000311
Name: Transit, Length: 119, dtype: float64
------------------------------------------------------


------------------------------------------------------
Walk
unique values: 171 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.4     0.033230
1.6     0.031677
1.5     0.030745
1.7     0.030124
1.3     0.029503
          ...
46.9    0.000311
47.6    0.000311
18.6    0.000311
31.7    0.000311
71.2    0.000311
Name: Walk, Length: 171, dtype: float64
------------------------------------------------------


------------------------------------------------------
OtherTransp
unique values: 93 ('NaN' included)
NaN exists? False
------------------------------------------------------
1.0     0.064596
0.9     0.058075
1.1     0.058075
1.3     0.054658
1.2     0.053416
          ...
10.7    0.000311
7.1     0.000311
39.1    0.000311
8.4     0.000311
10.2    0.000311
Name: OtherTransp, Length: 93, dtype: float64
------------------------------------------------------


------------------------------------------------------
WorkAtHome
unique values: 188 ('NaN' included)
NaN exists? False
------------------------------------------------------
3.7     0.027329
3.0     0.025466
3.3     0.023602
2.7     0.021739
2.5     0.021429
          ...
14.5    0.000311
19.0    0.000311
25.0    0.000311
23.0    0.000311
16.5    0.000311
Name: WorkAtHome, Length: 188, dtype: float64
------------------------------------------------------


------------------------------------------------------
MeanCommute
unique values: 309 ('NaN' included)
NaN exists? False
------------------------------------------------------
23.2    0.010248
22.1    0.009938
24.1    0.009938
21.3    0.009938
20.7    0.009317
          ...
8.8     0.000311
8.6     0.000311
41.1    0.000311
37.1    0.000311
41.4    0.000311
Name: MeanCommute, Length: 309, dtype: float64
------------------------------------------------------


------------------------------------------------------
Employed
unique values: 3098 ('NaN' included)
NaN exists? False
------------------------------------------------------
2078       0.000932
3618       0.000932
4365       0.000932
6712       0.000932
3955       0.000932
             ...
5280       0.000311
2696       0.000311
1204871    0.000311
92806      0.000311
4096       0.000311
Name: Employed, Length: 3098, dtype: float64
------------------------------------------------------


------------------------------------------------------
PrivateWork
unique values: 381 ('NaN' included)
NaN exists? False
------------------------------------------------------
79.8    0.009317
78.6    0.009006
79.2    0.008696
79.0    0.008385
76.4    0.008385
          ...
63.6    0.000311
59.8    0.000311
55.3    0.000311
52.8    0.000311
59.4    0.000311
Name: PrivateWork, Length: 381, dtype: float64
------------------------------------------------------


------------------------------------------------------
PublicWork
unique values: 322 ('NaN' included)
NaN exists? False
------------------------------------------------------
13.8    0.011491
13.3    0.010870
16.3    0.010248
13.4    0.009938
14.3    0.009627
          ...
33.0    0.000311
49.2    0.000311
28.5    0.000311
55.0    0.000311
38.8    0.000311
Name: PublicWork, Length: 322, dtype: float64
------------------------------------------------------


------------------------------------------------------
SelfEmployed
unique values: 221 ('NaN' included)
NaN exists? False
------------------------------------------------------
5.7     0.021739
6.0     0.021739
5.5     0.019255
6.7     0.018944
6.1     0.017702
          ...
18.3    0.000311
19.4    0.000311
24.8    0.000311
1.5     0.000311
1.7     0.000311
Name: SelfEmployed, Length: 221, dtype: float64
------------------------------------------------------


------------------------------------------------------
FamilyWork
unique values: 39 ('NaN' included)
NaN exists? False
------------------------------------------------------
0.1    0.264286
0.2    0.211180
0.0    0.177640
0.3    0.107764
0.4    0.070497
0.5    0.049689
0.6    0.025466
0.7    0.018634
0.8    0.013354
0.9    0.010870
1.1    0.008696
1.2    0.008385
1.0    0.005590
1.5    0.004969
1.3    0.004037
1.4    0.002484
1.6    0.002484
1.9    0.001863
1.8    0.001553
1.7    0.001553
2.5    0.001242
2.0    0.001242
2.1    0.000621
3.2    0.000621
3.1    0.000621
2.6    0.000621
6.0    0.000311
2.4    0.000311
6.1    0.000311
8.0    0.000311
2.7    0.000311
4.5    0.000311
3.6    0.000311
4.0    0.000311
9.8    0.000311
3.4    0.000311
2.3    0.000311
3.8    0.000311
3.0    0.000311
Name: FamilyWork, dtype: float64
------------------------------------------------------


------------------------------------------------------
Unemployment
unique values: 230 ('NaN' included)
NaN exists? False
------------------------------------------------------
6.8     0.015839
6.9     0.014596
7.9     0.014596
7.2     0.014286
8.3     0.014286
          ...
27.4    0.000311
36.5    0.000311
20.1    0.000311
28.6    0.000311
15.1    0.000311
Name: Unemployment, Length: 230, dtype: float64
------------------------------------------------------

In [36]:
find_null_cols(df17c)

'NaN' found in columns as follows:
	Income               (float64)      contains          1 null values ( 0.03%) !
	IncomeErr            (float64)      contains          1 null values ( 0.03%) !
	ChildPoverty         (float64)      contains          1 null values ( 0.03%) !

In [37]:
df17c_v1 = replace_null_dfcols(df17c)
df17c_v1.isna().any()

CensusId           False
State              False
County             False
TotalPop           False
Men                False
Women              False
Hispanic           False
White              False
Black              False
Native             False
Asian              False
Pacific            False
Citizen            False
Income             False
IncomeErr          False
IncomePerCap       False
IncomePerCapErr    False
Poverty            False
ChildPoverty       False
Professional       False
Service            False
Office             False
Construction       False
Production         False
Drive              False
Carpool            False
Transit            False
Walk               False
OtherTransp        False
WorkAtHome         False
MeanCommute        False
Employed           False
PrivateWork        False
PublicWork         False
SelfEmployed       False
FamilyWork         False
Unemployment       False
dtype: bool

In [38]:
df17c_v1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CensusId,3220.0,31393.605280,16292.078954,1001.0,19032.50,30024.00,46105.500,72153.0
TotalPop,3220.0,99409.345963,319305.453731,85.0,11218.00,26035.00,66430.500,10038388.0
Men,3220.0,48896.937888,156681.276856,42.0,5637.25,12932.00,32992.750,4945351.0
Women,3220.0,50512.408075,162661.952823,43.0,5572.00,13057.00,33487.500,5093037.0
Hispanic,3220.0,11.011522,19.241380,0.0,1.90,3.90,9.825,99.9
White,3220.0,75.428789,22.932890,0.0,64.10,84.10,93.200,99.8
Black,3220.0,8.665497,14.279122,0.0,0.50,1.90,9.600,85.9
Native,3220.0,1.723509,7.253115,0.0,0.10,0.30,0.600,92.1
Asian,3220.0,1.229068,2.633079,0.0,0.20,0.50,1.200,41.6
Pacific,3220.0,0.082733,0.734931,0.0,0.00,0.00,0.000,35.3
Citizen,3220.0,69935.071739,205118.907371,80.0,8450.50,19643.00,49920.500,6046749.0
Income,3220.0,46115.542547,12934.864321,-1.0,38190.75,44748.50,52070.000,123453.0
IncomeErr,3220.0,2849.509938,1919.302085,-1.0,1635.00,2406.00,3445.500,21355.0
IncomePerCap,3220.0,23981.771739,6204.339960,5878.0,20238.50,23460.00,27053.250,65600.0
IncomePerCapErr,3220.0,1362.518944,1049.875689,113.0,755.00,1096.50,1631.000,15266.0
Poverty,3220.0,17.493261,8.317883,1.4,12.10,16.15,20.700,64.2
ChildPoverty,3220.0,24.172981,11.704927,-1.0,16.30,22.70,30.000,81.6
Professional,3220.0,30.990621,6.368379,13.5,26.70,29.90,34.400,74.0
Service,3220.0,18.346398,3.635764,5.0,16.00,18.10,20.300,38.2
Office,3220.0,22.215807,3.199682,4.1,20.20,22.40,24.400,35.4
Construction,3220.0,12.714099,4.216784,1.7,9.80,12.10,14.900,40.3
Production,3220.0,15.733385,5.736308,0.0,11.50,15.25,19.325,55.6
Drive,3220.0,79.181925,7.657972,5.2,76.60,80.70,83.700,94.6
Carpool,3220.0,10.278758,2.907897,0.0,8.40,9.90,11.800,29.9
Transit,3220.0,0.971832,3.059019,0.0,0.10,0.40,0.800,61.7
Walk,3220.0,3.323509,3.756096,0.0,1.40,2.40,4.000,71.2
OtherTransp,3220.0,1.612733,1.670988,0.0,0.90,1.30,1.900,39.1
WorkAtHome,3220.0,4.631770,3.178772,0.0,2.70,3.90,5.600,37.2
MeanCommute,3220.0,23.278758,5.600466,4.9,19.50,23.00,26.800,44.0
Employed,3220.0,45593.518323,149699.504316,62.0,4550.75,10508.00,28632.750,4635465.0
PrivateWork,3220.0,74.219348,7.863188,25.0,70.50,75.70,79.700,88.3
PublicWork,3220.0,17.560870,6.510354,5.8,13.10,16.20,20.500,66.2
SelfEmployed,3220.0,7.931801,3.914974,0.0,5.40,6.90,9.400,36.6
FamilyWork,3220.0,0.288106,0.455137,0.0,0.10,0.20,0.300,9.8
Unemployment,3220.0,8.094441,4.096114,0.0,5.50,7.60,9.900,36.5